[2013-07-27 13:12] techfort opened #1 "showCollections bombs out"
For some reason the showCollections method throws an error on collections.length

[2013-07-28 19:40] techfort opened #2 "Implement transactions"
Implement some form of transaction that caches the collection's state and rolls back to it if something fails during the operation.

[2013-07-28 19:41] #1 closed, assigned to techfort

[2014-10-12 17:48] vegarringdal opened #6 "Have you done any benchmark on it compared to others?"
Have you done any benchmark on it compared to others?

Thx, will give this a try on wakanda server (wakanda.org)

[2014-10-13 22:06] vegarringdal opened #7 "findOne, is this working, or under construction?"
if I do this:

[code]

I get this back... ( I would have expected the one with age 1

name:
"odin"
email:
"odin.soap@lokijs.org"
age:
99
id:
500100
objType:
"User"

[2014-10-14 04:41] vegarringdal opened #8 "does it support multi sort?"
Does it support multisort?
Like "country asc, town desc" on a view you are about to get?

[2014-10-14 09:53] vegarringdal opened #9 "wakanda relations support"
Does it support relations?
one to one
one to many
many to one

[2014-10-14 10:13] vegarringdal opened #10 "DynamicView"
Could you tell me more about this, will it be a public function?
Want much about collections in docs

Is it like a set with id's only?
That you could filter without looking the original set?

In wakanda(wakanda.org, nosql) every set gets a unique entityset when u do a query.
This way you could just pass the unique ID to a method from client side to server side if you wanted to do work with on serv

[2014-10-14 19:30] vegarringdal opened #11 "remove and update, do they also support array like insert?"
remove and update, do they also support array like insert?

[2014-10-14 20:16] vegarringdal opened #12 "When using this on client side then a worker would the perfect place for it?"
When using this on client side then a worker would the perfect place for it?

Agree?

This way any query etc would happen in its own thread, and not really block any other stuff

[2014-10-15 14:41] #7 closed, assigned to nobody

[2014-10-15 19:10] #10 closed, assigned to nobody

[2014-11-04 17:31] zeroware opened #13 "Changes/Stream API"
Do you plan to add a changes event feature like the CouchDB change API ?

[2014-11-04 20:03] tasinet opened #14 "Documentation Issue: No automatic persistence in node.js"
Hello,

The project README mentions: "In a nodejs/node-webkit environment LokiJS also persists to disk whenever an insert, update or remove is performed.".

Is this accurate? I tried to look for this functionality in the source and it doesn't seem to be there - nor could I reproduce it with code. It looks like we have to explicitly call db.save() when we want an on-disk checkpoint created.

Am I m

[2014-11-05 18:04] #14 closed, assigned to nobody

[2014-11-05 18:18] #11 closed, assigned to nobody

[2014-11-05 18:20] #6 closed, assigned to nobody

[2014-11-05 18:20] techfort opened #16 "Implement Lamport timestamps"
Timestamp logic for distributed architecture.

[2014-11-05 18:24] techfort opened #17 "Deserialization with Prototypes"
Implement re-hydration of serialized data that enables to instantiate a particular prototype per object so methods are made available subsequently to a loadDatabase() operation.

[2014-11-08 12:09] vincent opened #18 "Logical operators"
Hi,

Do you plan to support mongo-like logical operators ?

For reference: http://docs.mongodb.org/manual/reference/operator/query-logical

[2014-11-18 08:09] wxygeek opened #24 "the object is modified after inserted"
I find some design problem, it will make people confused.

After I insert a object into collection, the origin object is modified, just like:

[code]
1. The `insert()` should `clone` a new object to insert.
2. An array should also be inserted, instead of inserting every item.
3. pass `id` to `remove()` instead of passing the whole obj
4. I think using some api like mongoose is better for update an

[2014-11-18 15:06] techfort opened #25 "Create option to clone object instead of referencing when inserting"
This should be either at Collection level, or an optional parameter in the insert method. Most likely the former option.

[2014-11-18 15:08] techfort opened #26 "Remove object by id as well as object"
remove(id) should work.

[2014-11-18 15:10] techfort opened #27 "Bulk/array inserts"
bulk inserts should work.

[2014-11-18 15:12] #24 closed, assigned to nobody

[2014-11-19 10:16] jlchereau opened #29 "DISCUSSION: My experience with LokiJS, especially with LokiJS ids and synchronous methods"
## Use Case

I work on a project involving the MEAN stack (without A). This project is divided into RESTful API server(s) and Web UI Server(s). We needed a way to mock data access and instead of using SinonJS to mock $.ajax requests we have deemed simpler to mock data access with a second set of observable models getting data and setting data to an in-memory database.

## Reasons for choosing Loki

[2014-11-19 13:07] techfort opened #30 "Eliminate clash of id"
Either rename our id something like lokiID or make the id field configurable through options object in the Collection constructor.

[2014-11-19 13:09] techfort opened #31 "Make asynchronicity in event listeners optional"
Users should explicitly set listeners to be async, otherwise they are to be executed in a synchronous fashion.

[2014-11-23 17:36] mehdi-cit opened #36 "Four easy steps to greatly improve LokiJS."
Hello All!
First of all sorry for the presumptuous title. I do not know much about the internals of lokiJS to state how easy it is to introduce the simple changes I'm thinking about. LokiJS seems very promising and prompted me to think of stuff that would improve it -in my mind-. I very well might have had things wrong, but the easiest and best for everyone is to write down my thoughts and await y

[2014-11-24 03:19] goatslacker opened #37 "update() increments the collection count when fetching on an index"
I found this particular strange bug. If you're using an index, when you update an item that already exists in the collection it appends a new item to the collection. This bug only occurs though if you're fetching on the index itself.

Here's a very basic minimal example:

[code]

I'm expecting the length to be 1. If you inspect the collection returned it'll contain an item where `a = 1` and anothe

[2014-11-24 03:28] #37 closed, assigned to nobody

[2014-11-24 07:33] GKuChan opened #39 "use just one test framework"
I found some new commit also use `gordian` instead of `mocha`, we should use just on test framework, and add more base unit test.

 `mocha` is more popular, isn't it ?

[2014-11-30 02:12] victorwpbastos opened #41 "Persistence in browser"
Does this lib persist records in browser or just in node.js?

[2014-12-01 11:16] jlchereau opened #42 "When not found findOne returns Array[0] instead of null"
null would be consistent with MongoDB and would make testing whether the item is found easier.
This applies to v1. I have not tested v1.1

[2014-12-04 13:13] DominicBoettger opened #43 "Numeric values"
If i insert a float value with 4.51 and read the dataset after that from loki i get a value of 2.41 for this field. I have no idea why .... If i store it as string everything is fine...

[2014-12-04 14:25] #43 closed, assigned to nobody

[2014-12-07 22:21] sissbruecker opened #44 "Error calculating collection maxId when adding to empty collection"
This code from _Collection.add_:

[code]

Does not work if the collection is empty and leads to this error: _Cannot read property 'id' of undefined_

How to reproduce:
- Load a database with a non-empty collection. The collections maxId is initialized with undefined: `copyColl.maxId = (coll.data.length === 0) ? 0 : coll.data.maxId;` (from _loadJSON_)
- Remove all entries from the collection
- Add

[2014-12-11 21:52] aesqe opened #45 "saveToDisk unlink issue"
Because **fs.unlink** is asynchronous, sometimes the filesystem will attempt to write to a file currently being deleted (just how it looks like to me, I'm no expert) and that results in no file at all (win 8).

fs.writeFile should be called either from fs.unlink's callback, or use fs.unlinkSync.

[2014-12-13 01:17] assafweinberg opened #46 "Clearing collection breaks index"
I noticed that after clearing a collection I wasn't able to insert new objects without error.  It seems that the clear collection code sets the idIndex to an object instead of an array which prevents insertion.  The constructor does the same thing, but then also calls ensureIndex, which sets idIndex to an array.

Is this behavior intended for some reason?

[2014-12-13 13:35] #44 closed, assigned to nobody

[2014-12-13 17:13] #46 closed, assigned to nobody

[2014-12-13 17:26] assafweinberg opened #47 "Querying empty collection with binary index throws error"
If a collection has a binary index set, and the collection is empty, querying it will result in an error.  The error happens in the calculateRange function on the following lines:

`var minVal = rcd[index[min]][prop];`
`var maxVal = rcd[index[max]][prop];`

If the collection is empty, then rcd[index[min/max]] will be undefined.  We may want to set default min and max values here, but also, maybe s

[2014-12-13 17:32] assafweinberg opened #48 "getCollection return value"
Right now, the behavior for getCollection is to throw an error if the collection requested isn't present.  I think it might be more convenient to return null if the collection isn't found. Then a user can test the value and initialize the collection if necessary. e.g.

[code]

Right now, there's no great way to know if a collection already exists before trying to get it.

[2014-12-13 22:59] #48 closed, assigned to nobody

[2014-12-15 21:12] #47 closed, assigned to nobody

[2014-12-15 22:05] goatslacker opened #49 "Idea: Expose the Collection class"
I'd like to be able to subclass Collection into a class that I'm building without getting any of the dynamicview, loadDatabase, or other loki things. The reason for this is because I want:
- Loki's indexing.
- Something small (code-wise).
- Mongodb like query methods.

Pseudo:

[code]

[2014-12-16 21:16] #45 closed, assigned to nobody

[2014-12-20 23:19] techfort opened #50 "Separate constructors into files"
Database, Collection, resultset and DynamicView should be in separate files.

[2014-12-20 23:20] techfort opened #51 "Add load/serialize methods to Collection"
Ideally the exposed Collection class should also have the ability to be serialized and loaded.

[2014-12-20 23:21] #49 closed, assigned to nobody

[2014-12-22 20:58] #42 closed, assigned to nobody

[2014-12-22 21:06] #41 closed, assigned to nobody

[2014-12-22 21:07] #31 closed, assigned to nobody

[2014-12-22 21:07] #30 closed, assigned to nobody

[2014-12-22 21:08] #25 closed, assigned to nobody

[2014-12-22 21:08] #27 closed, assigned to nobody

[2014-12-22 21:08] #17 closed, assigned to nobody

[2014-12-22 21:08] #26 closed, assigned to nobody

[2014-12-22 21:08] #13 closed, assigned to nobody

[2014-12-22 21:48] #36 closed, assigned to nobody

[2014-12-28 08:46] RnbWd opened #52 "browserify support"
Using browserify I'm getting this error message:

[code]

It's not properly detecting ENV when commonjs modules are used in the browser. Easy fix would be to change line 226:

[code]

[code]

Also need to configure browserify to ignoring the 'fs' module.  I can submit a pull request for line 226.

[2014-12-28 11:11] #8 closed, assigned to nobody

[2015-01-06 15:00] xbenjii commented on #52
This breaks node-webkit functionality, since both `exports` and `window` are defined. :disappointed:

[2015-01-06 15:09] techfort commented on #52
Yeah - automatic env detection is never 100 % reliable. I'm thinking of changing the setting of the ENV property from `this.ENV = getENV();` to `this.ENV = options ? (options.env || 'NODEJS') : getENV();`.

[2015-01-07 09:46] zhaoxingyun opened #54 "Init erro by node-webkit context"
use [node-webkit](/rogerwang/node-webkit).

	var db = new loki();

will throw error

	Uncaught node.js Error

	ReferenceError: document is not defined
		at Loki.getENV (D:\workspace\radium\canvas\node_modules\lokijs\src\lokijs.js:228:15)
		at LokiEventEmitter.Loki (D:\workspace\radium\canvas\node_modules\lokijs\src\lokijs.js:237:18)

change source code in file `lokijs.js:224` like this will be ok

[2015-01-07 10:16] techfort commented on #54
I am going to change the db constructor so that it takes (among others) the option 'env', so environment can be set explicitly skipping detection. So you would do `var db = new loki('myApp', { env: 'NODEJS' })`

[2015-01-08 00:07] #54 closed

[2015-01-08 22:32] chimon2000 opened #56 ""Data is undefined" thrown when using loadDatabase in browser"
To verify that this was an issue, I made a simple index.html file w/ the following code (taken from the docs)

[code]

`loadDatabase` breaks in the following code snippet (which exists in two areas):

[code]

Data is undefined and an error is thrown. I've verified that removing data from the callback resolves the issue.

[2015-01-08 22:36] techfort commented on #56
Thanks for flagging this Ryan.
As it is a callback that cFun looks like it was meant to be a
cFun.call(null, data);
Would you be able to test if that works? I won't be in front of a pc for
a few days and this seems a  pretty major bug.

joe

On 08/01/15 22:32, Ryan wrote:

[2015-01-08 22:53] chimon2000 commented on #56
That alone didn't work. Data being undefined but referenced like a global variable still causes that nasty error to get thrown.

Assuming that you want the localStorage / BROWSER version to work just like the NODEJS version, the following

[code]

worked fine and may suffice as a solution.

[2015-01-08 22:57] techfort commented on #56
If you want to submit a PR i'm happy for you to get the credit for it.
Otherwise I'll see if @obeliskos has time to address this.

On Thu, Jan 8, 2015 at 10:53 PM, Ryan <notifications@github.com> wrote:

[2015-01-08 23:20] chimon2000 commented on #56
PR Submitted. Thanks!

[2015-01-09 00:50] obeliskos commented on #56
I needed to modify the call to just cFun(null, data) instead of the cFun.call which appears to treat the first param as a 'this' context before mapping the other args so the data was being mapped to err.  I suppose we could have just passed this as first param but I don't know that we need that context to a user function.

[2015-01-09 00:58] obeliskos commented on #56
Re-opening to allow time for all to review changes

[2015-01-09 15:59] xbenjii opened #58 "Can't load empty JSON file."
I'm using the following code in node-webkit/angular:

[code]

This worked in 1.0, bar the API changes I've made for 1.1. It would load an empty database which would then allow it to save if it hadn't been created, now it just throws an error because it's trying to parse JSON that doesn't exist.

[code]

Edit: Your desktop_app demo throws the same error. Also if there's no file present, it throws a

[2015-01-09 22:47] #58 closed

[2015-01-09 22:47] xbenjii commented on #58
Closing for now.

[2015-01-13 11:29] teef opened #60 "db save circular structure issue"
Currently I have a problem in the area of loading/saving database. After object update and try to save db the following error occurs:
[code]
I am using one collection as well as one dynamic view.

Seems like there are two dynamic views which should not happen.

[code]

Database: https://gist.github.com/teef/c3f8f2139a1e13188e09

[2015-01-14 00:10] obeliskos commented on #60
I have tried to reproduce your error but so far I have not been able to.   There are two areas of specific relevance to the problem you describe which are :
- when serializing resultsets and dynamicviews we are overriding the toJSON to clear out the collection... so the end serialized string should be null for collections so it will not create the error you describe.  when we load (in loadJSON) we

[2015-01-14 19:54] teef commented on #60
Hello,
Thanks for explanation. I will analyze your results tomorrow. From I have
seen your are using findOne() method. I couldn't find it in documentation.
Is it function from current release or something upcoming?

2015-01-14 1:10 GMT+01:00 obeliskos <notifications@github.com>:

--
Tomasz Fidecki

[2015-01-15 02:10] obeliskos commented on #60
I converted the example to run under node and it seems to work the same as my browser sample (no errors and serialized database has no duplicate dynamic views and the collection references are null).  I tried db.serialize() and loadJSON() and also db.saveDatabase()/db.loadDatabase() both behaved as expected.

findOne() has actually always been there as long as I have used loki.  That was one of th

[2015-01-15 02:21] #56 closed

[2015-01-16 04:04] teef commented on #60
Currently I am using 1.1.11
According to a given advice I am changing the code to use find filters.
During DB loading tests I found out that scenario when I am loading DB without having file created ends up with:
[code]
Is it by design? Or the new file should be created? Is there a place I could configure this?

[2015-01-16 10:52] dnfpili commented on #60
Hmmm, somehow this same error happens to me whenever I try to manually call saveDatabase() when I have autosave set to true during initialization.

[2015-01-16 12:02] obeliskos commented on #60
My example was just to try to recreate the error which it did not do, so don't try to pattern after it too much.

Sounds like (from you and Dan) that long term I need to create a matrix of tests around autoload, autosave using all three persistence methods (as well as environment detection).

But for now, can you describe exactly what database initialization options you are using?  What is the lin

[2015-01-16 12:27] obeliskos commented on #60
I have also noticed a bug in the loki contructor where :

[code]
should likely be :
[code]
That may not matter if you are using node but it messes up local storage and indexeddb.  As I do more thorough testing across multiple configurations over the next day or so, I will post that fix that as well.

[2015-01-16 12:46] dnfpili commented on #60
Sorry about that, here is what I was using,

[code]

And here is the one I'm using when I want to load an existing database.

[code]

Both of them ends up with
[code]

I also noticed that whenever I add a collection and not insert any data, loki does not save it even when autosave is on, thus I had to call the saveDatabase() manually somewhere in my code and stumbled upon this.

Not sure if I was

[2015-01-16 12:49] techfort commented on #60
Hi Tomasz, could you try updating to the latest version (should be 1.1.14)
and check if the problem is still there?
On Jan 16, 2015 4:04 AM, "Tomasz" <notifications@github.com> wrote:

[2015-01-16 18:18] teef commented on #60
Upgraded to 1.1.14.
My db constructor is as follows:
[code]
It is called within other object constructor.
Then this happens:
[code]
It seems that this.db is undefined while processing this._dbLoadHandler invoked by autoloadCallback feature.
I have temporarily suppressed this by disabling autoloadCallback and calling this._dbLoadHandler manually. But then I have issues with non-exisitng or empty fi

[2015-01-17 06:49] teef commented on #60
Hi,
To ease the analysis I have created a gist with:
* database creation
* collection and dynamic view creation
* inserting 2 objects
* database saving

the outcome is:
[code]

[2015-01-17 19:43] obeliskos commented on #60
I am able to reproduce this error now, thanks.

I believe the issue is related to keeping a reference to the file stream within the database itself.  I think the serialization is failing due to it trying to serialize the file system object which is attached to the db.

I don't know why we would need to do this but this may be more in Techfort's area of expertise so i will research a little more an

[2015-01-18 01:33] obeliskos commented on #60
After further testing it does not appear to be the issue I described in the previous post.

It looks like node setInterval return value is not a 'handle' but an intervalObject that has circular references.  So I may need to research their setInterval implementation further.

If you want to circumvent the problem short term, you could change loki.js serialize function to be :
[code]
Also of note is

[2015-01-18 14:20] obeliskos commented on #60
I have submitted a fix which should hopefully fix your issue.  Feel free to try it out and let me know of your results.

In order to help us more granularly control what is being serialized along with the database, I am implementing a JSON.stringify mode utilizing a serialReplacer function to allow us to null out any top level (loki/db) properties which do not need to be serialized.

You should no

[2015-01-19 13:40] dnfpili commented on #60
I tried it out from the latest source and it seems to have been fixed in my case.
I also noticed that it now autosaves the database too when I add an empty collection.

Thank you very much!

[2015-01-19 13:49] techfort commented on #60
Thanks @obeliskos ! Back from holiday today, we'll wait for @teef's confirmation that the issue is fixed before we close. As soon as i get that i'll publish it on npm as this seems to be a pretty nasty issue.

[2015-01-19 23:36] obeliskos commented on #60
Glad its working good for you, Dan.

I had assumed that the db reference would be kept globally, outside the context of a 'this' reference, so the autoloadCallback would not need a reference to the database.  In theory we could pass db reference along with 'err' and 'data'.  Any opinions (from anyone) on whether this should be done?

[2015-01-20 05:05] teef commented on #60
Hello Loki Team,
I have tested quite a few scenarios around database (creation, insertion, creation of dynamic views, applying find and where filters) and it seems that circular issue is gone. Good job done. Thanks.

One question regarding database loading. When the database file does not exists load function returns  with err=34 for Node. Currently before loading I am checking if the file exists

[2015-01-20 11:01] techfort commented on #60
I think this is a good suggestion. I'm inclined to close this issue and open a new one though as it's kind of unrelated, if that's ok with you @teef

[2015-01-20 12:27] teef commented on #60
Sure. Will you do it?

2015-01-20 12:01 GMT+01:00 Techfort <notifications@github.com>:

--
Tomasz Fidecki

[2015-01-20 12:29] techfort opened #61 "db file should be created by default in load()"
In a node env, load should create a file if it doesn't exist, so as to avoid err 34, especially when autoload is true.

[2015-01-20 12:59] techfort commented on #60
Absolutely, just waiting for your confirmation. Closing this, issue opened here https://github.com/techfort/LokiJS/issues/61

[2015-01-20 12:59] #60 closed

[2015-01-20 13:43] vdininski opened #62 "Document which MongoDB compatible queries"
Given the interest in lokijs' MongoDB compatibility it seems odd that there is no mention in the documentation as to what exactly is supported in terms of queries/methods.

Is there a one place where I can find all the currently supported queries?

[2015-01-20 14:40] techfort commented on #62
Hi Vasil,
thank you for raising the issue.
MongoDB compatibility is an ongoing work, LokiJS didn't start with the intent of being MongoDB api compatible, but many users found this would be useful for many reasons, so we're gradually introducing this feature. I will explicitly specify whatever feature is MongoDB compatible in the next release.

[2015-01-20 23:33] obeliskos commented on #62
The best current source for this is at techfort's website here :
http://lokijs.org/#/docs

It mentions the operators we currently support are :
- $eq: equal to
- $gt: greater than
- $gte: greater than or equal to
- $lt: less than
- $lte: less than or equal to
- $ne: not equal to
- $contains: contains
- $regex: use a regex pattern for matching

Each mongo-expression currently supports 1 field/opera

[2015-01-21 12:15] vdininski commented on #62
Thanks for the list! :)
However I'd like to ask whether you are planning on introducing support for $update operators (think **$set**, **$push**, **$inc**, etc) even though from what I see the operations are synchronous

[2015-01-25 00:23] dnfpili opened #64 "For-looping collection.remove(obj) weird behavior"
Whenever I use a for-loop to remove objects from a collection, loki skips every other reference and ends up deleting only half of the objects in the result array.

Although when I reverse the loop, it works as expected.
Using Node-webkit and lokijs 1.1.14

[code]

[2015-01-25 06:45] techfort commented on #64
Could I make a suggestion before checking if there is a bug in lokijs? In
your first for loop you're not caching the length of the array you're
iteratinng (list.length). Problem is, you're changing the array length in
the loop by removing an element, which means that list.length is
re-computed. This can definitely lead to weird behaviour. May i suggest you
place a simple `var len = list.length` an

[2015-01-25 07:36] dnfpili commented on #64
Based from your suggestion, I assigned the length to a variable like this

[code]

I throws me an error instead

[code]
A removeAll() would be nice too, or something that works like:

var list = folders.find({ hidden : true });
list.remove(); //removes the results from the query

[2015-01-25 10:06] techfort commented on #64
Ok let's separate the issues. I'll create an improvement issue to implement a remove(queryObject) and a remove(func) (where you can pass a filter function).

As for the current issue, Loki thinks you're not passing an object to the remove function so what's the output of that console.log(list[i]) ? It may help understand what's going on.

[2015-01-25 10:08] techfort opened #65 "create a removeWhere(queryObject), a removeWhere(func)"
Optimize removal of multiple records with the above methods.

[2015-01-25 16:14] obeliskos commented on #64
Yea best way is to reverse iterate so you are not changing the array index locations of any of the remaining documents.

Issue #65 opened by @techfort should provide simpler methods of doing this but per your existing examples, that is what's causing odd behavior/errors.

[2015-01-25 20:49] techfort commented on #64
To clarify on why the forward for loop behaves weirdly: using array.length in the for loop means the counter `i` is checked against the `array.length`. If an `array` has 3 elements, and you remove element `0`, then set `i` to 1,  two problems arise: 1. `i` will now be checked against 2 (the new array length) and 2. loki does a `splice` removing the elements in the data and effectively reorganizing

[2015-01-25 22:25] dnfpili commented on #64
Thanks @techfort and @obeliskos,

I was working on the assumption that _var list = folders.find()_ actually cached the data to the list variable. Turns out that loki updates the folders.find() reference every time I called remove() resulting in an error halfway through the cached list.length loop.

I think I understand better how loki works now.

[2015-01-26 13:58] techfort commented on #64
Good to know things are working out for you @dnfpili . Can we close this? I'm counting on implementing remove() and removeAll() in the next few days, see #65

[2015-01-26 20:46] #64 closed

[2015-01-26 20:46] dnfpili commented on #65
Looking forward to this.

[2015-01-26 22:27] techfort commented on #65
Ok this is checked in, if you want to try the latest source. removeWhere() takes either a query object (same syntax as find() ) or a filter function. As for removeAll(), there is already a clear() that does just that. I also added support for remove (id: number) which deletes by id rather than passing the entire object.

[2015-01-27 21:59] dnfpili commented on #65
Nice, I'll take a look at this as soon as I get back.

[2015-01-28 12:51] plievone opened #66 "Collection.prototype.get('1') fails"
If one accidentally tries to get using string id it does not throw but fails to find the document. This is due to `isNaN` returning false for string id so it is not cast to number, but later strict equality `===` causes id not to be found.

[2015-01-28 12:54] techfort commented on #66
Good catch! Will fix this asap.

[2015-02-01 21:06] techfort commented on #66
Hi, I applied a quick fix to this, but I was only able to do very superficial tests due to lack of time, would you be able to check the latest source out and see if this works for you?

[2015-02-02 12:43] plievone commented on #66
Looks good to me!  (isNaN won't catch non-integer numeric inputs such as Infinity, -1 or decimals, but that's ok, that string id is the most common case and it failed silently before.)

[2015-02-02 12:43] #66 closed

[2015-02-04 20:03] plievone opened #68 "Unnecessary dependencies?"
Gordian, Istanbul and Mocha are already listed in devDependencies, so they could be removed from ordinary dependencies? Now those dependencies bring in 10MB extra to ordinary install...

[2015-02-04 20:12] techfort commented on #68
Good point. The point of devDependencies is that those dependencies are necessary to develop a library, but they are not necessary to run.
LokiJS itself does not depend on anything to run, so there should be nothing in dependencies, while it depends on a few libs for running tests in case you want to develop new features which you need to create tests for. So I suppose "dependencies" could just be

[2015-02-04 20:29] plievone commented on #68
That sounds right. One can always install devDependencies via npm install on the package root.

At the same time, one could consider adding docs/lokijs.odp and docs/lokijs.pptx to .npmignore, perhaps benchmarks too? Many npm packages keep their install small and clean and let people clone the rest from github repo if needed?

[2015-02-04 20:31] techfort commented on #68
That's also a good point. I will clean address those asap.

[2015-02-04 21:28] plievone opened #69 "Collection option defaults vs. docs"
[Docs](http://lokijs.org/#/docs#addCollection) say that collection `asyncListeners` defaults to `false`, but in code it defaults to `true` (even though comment there says otherwise). I was wondering why inserting a new doc results in its `meta.created` being 0 if inspected in the same control flow right after insert, this explains why.

Also collection option `disableChangesApi` defaults to `true`

[2015-02-04 21:35] techfort commented on #69
Thanks for catching that! Yes the intention is to have sync listeners and disabled changes API by default, so in the listeners case i will change the code, and in the changes case I will change the docs.

[2015-02-04 21:37] techfort opened #70 "Implement key-value store"
Already developed in experimental branch, remains to be decided how key-value stores will relate to the db as opposed to collections.

[2015-02-05 08:14] simonvizzini opened #71 "Emit events on DynamicViews on changes"
It would be great if DynamicViews would also emit change events, but only if changes to the underlying collection are actually affecting the DynamicView.

Suppose I have a DynamicView whose data I'm feeding to an HTML template. It would be good if I could re-render my HTML template only if the DynamicView actually changes, instead of listening to every change event on the underlying collection. Th

[2015-02-05 08:50] simonvizzini commented on #51
+1 for this. No, actually, +1000 ;-)

We don't need persistence, so my plan is to just use collections and sync them with a db on a server. So being able to load a collection from plain JS objects/JSON string and "inflate" them with a specific prototype would be very important for our usecase.

[2015-02-05 09:27] simonvizzini opened #72 "Some small documentation discrepancies"
* [Collection.insert()](http://lokijs.org/#/docs#collection)
  * Documentation and example is talking about the `document(obj)` function, which seems to have been renamed to `insert(obj)`. At first I didn't realise that and I was wondering why I couldn't call the  document function so I looked at the source and the [comment here](https://github.com/techfort/LokiJS/blob/master/src/lokijs.js#L2655-L

[2015-02-05 10:06] techfort commented on #71
Thanks for the kind words! I'm not sure i understand 100% so forgive me if I misinterpret anything you said. The point of DynamicView is to take away the worry of having to recompute the data contained in it, as the view itself listens to changes to the underlying collection, and up-to-date data is always available through the `data()` method of dynamicview. For example, say you have an angular co

[2015-02-05 10:36] #52 closed

[2015-02-05 10:52] techfort commented on #72
These are fixed, thank you.

[2015-02-05 10:52] #72 closed

[2015-02-05 10:53] techfort commented on #69
Ok, fixed these too.

[2015-02-05 10:53] #69 closed

[2015-02-05 10:56] techfort commented on #68
This is done, including the .npmignore

[2015-02-05 10:56] #68 closed

[2015-02-05 10:59] techfort commented on #65
This is done and reflected in the docs.

[2015-02-05 10:59] #65 closed

[2015-02-05 11:41] simonvizzini commented on #71
Unfortunately I'm not familiar with Angular and most other frameworks as well, but from my understanding it shouldn't work as you describe it. Because how does Angular get notified that the underlying `dataview.data()`, which is just a plain JS array, has changed?

But I'm familiar with Knockout so I can give you an example here: the data has to be in a `ko.observableArray` for automatic dirty che

[2015-02-05 12:31] obeliskos commented on #71
DynamicView does lazy rebuild of data... as documents get added/updated/removed I don't know for sure if the views will change until they execute the filters, so I mark them as 'dirty'.  Only when you call data() will the array be rebuilt (if needed).

Couple of options :
I can raise an event when collection is flagged as dirty... but if you rebuild view every time this event is fired, you are set

[2015-02-05 15:23] techfort commented on #71
The whole issue is very interesting. Where it becomes problematic is consistency across the board, which is not just made of plain JS + (all the other frameworks), but also has to take into account that Loki runs in node and cordova. A Reactive Programming approach to developing a UI using Loki's current functionality would definitely yield all the necessary information to correctly handle changes

[2015-02-05 15:24] simonvizzini commented on #71
I wasn't aware that DynamicViews are lazy. The documentation states that DynamicViews are 'live', which I interpreted as that no additional function calls are necessary and the returned array by calling `data()` the first time will mutate accordingly, since it's a reference. This is also how I interpreted @techfort s answer above.

Also I'm not sure if I fully understand the options you have menti

[2015-02-05 16:02] techfort commented on #71
Actually - much as it's a bit of a fragmented solution, the framework specific adapters (supplied as a separate lib to loki) is a nice approach, a. because they don't fiddle with internals, and b. because they would arise as the community needs them. In Angular, for example, if you're ok with a rebuild per digest cycle you simply need to bind a controller's property to the view data() method and o

[2015-02-05 16:49] simonvizzini commented on #71
@techfort What?? What kind of black magic is Angular using there? Don't tell me Angular is doing dirty checking in an interval!

Okay, since I don't know anything about Angular, I searched and found a great explanation about $apply and $digest [here](http://www.sitepoint.com/understanding-angulars-apply-digest)
If I understand it correctly then an automatic $digest cycle is only triggered through

[2015-02-05 17:30] techfort commented on #71
You can make an instance of loki or a particular collection available as an angular service and it will be included in the normal $digest cycles.

[2015-02-05 18:39] Badisi opened #73 ""Cannot read property '1' of undefined" at line 535"
The variable 'obj' declared at line 546 is overlapping the one declared at line 511.

**Explanation**
First time you crossed the line 535 everything is fine but then the second time you got the error "Cannot read property '1' of undefined" which is due to the fact that 'obj' has changed and is now the one that was declared at line 511.

**How to reproduce**
Try to load a database file with 2 colle

[2015-02-05 19:20] techfort commented on #73
Thanks for catching this bug!

[2015-02-05 19:20] #73 closed

[2015-02-05 20:46] simonvizzini commented on #71
Thanks alot for the clarification! I guess I'll try Angular and see how they do it. (by the way I just noticed that there is no discussion functionality here on Github! What a shame :(

And I absolutely agree that framework specific adapters are the way to go. Looking forward to see how this will develop!

Sorry, a little offtopic again, but since you mentioned reactive programming earlier: I stum

[2015-02-05 23:50] obeliskos commented on #71
Hmm, actually your right the resultdata array is kept up to date.  I guess I am thinking nonpersistent mode which keeps live indices and generates array on data();   Been awhile since I was in that code :)
If you have a sort applied it lazy sorts though so that might be relevant to a lot of dynamic views.

Loki is designed to handle hundreds of thousands of operations per second.   So assuming we

[2015-02-06 09:52] techfort commented on #71
Actually, before it goes out of my mind... We may include a time
measurement within the data() method so we can gauge exactly how often a
view can be rebuilt. A bit like the dynamic fps calculation in 3d apps or
games in general (2d or 3d). The challenge would be to find a lib as
precise as process.hrtime in node.js
On 5 Feb 2015 23:50, "obeliskos" <notifications@github.com> wrote:

[2015-02-11 12:39] dnfpili commented on #71
I regards to the angularJS implementation, I am currently working on a project experiment with Angular + lokiJS. So far I like how even the normal collection.find() result reference keeps itself updated.

In order to keep things updated on the view though, I have to put a $watch for the variable on my controllers. Apparently, $apply and $digest didn't work too well for me.

Here's a snippet of wha

[2015-02-11 13:34] mprokopowicz opened #75 "Simple way for removing all items from collection"
I need simple way to remove all items from collection, but keep all dynamic views on this collection.

What i tried to do is:
[code]
It works good for collection itself, but does not updates my dynamic views.
I also feel that it should be some cleaner way to do this.

[2015-02-11 13:57] techfort commented on #75
Good point, I am going to include this in the imminent release. If you're working off the latest npm version you could call `collection.removeWhere(func)` and pass a dummy filter like `function (obj) { return true; }`, and if that works all I would need to do is to create a clean wrapper like `collection.removeData()` which curries `removeWhere` in the above fashion.

[2015-02-11 14:17] techfort commented on #71
ok, i created a plunker for you at http://plnkr.co/edit/2B3CA6CRa2P8Y1yYtvBI?p=preview
LokiJS is included in the angular lifecycle by wrapping it into a service. There's a dynamic view that only displays user names longer than 3 chars. If you try and add names with only 3 chars they won't be displayed, if the new user has 4 chars or more it will, and no need for `$watch`. Let me know if this works

[2015-02-11 14:44] techfort commented on #75
Hi Michal,

I pushed a commit just there with a method in `Collection` called `removeDataOnly()`, which clears all the collection data but keeps everything else intact (indexes, views etc.)
There's a quick test in `tests/testRemove.js` which passes so it should be fine, let me know if this is does what you wanted Loki to do.

[2015-02-11 14:46] dnfpili commented on #71
Wow thanks! I apologize as I'm not exactly a js wizard but that looked so neat! Looks like that will work well for me too.

P.S
I think we need more examples like this in the docs section, especially when utilizing lokijs within frameworks.

[2015-02-11 14:53] techfort commented on #71
I'm sure your JS is great.

I will definitely include a wiki page to show a couple of examples of LokiJS integration with other frameworks, at the very least AngularJS, with which I'm familiar, thanks for the tip!

[2015-02-11 15:32] Badisi opened #76 ""indices" as a string is splited like an array"
[Documentation](http://lokijs.org/#/docs#addCollection) on addCollection clearly says:
```indices: an array of strings indicating indexed fields.```

but in the [wiki](https://github.com/techfort/LokiJS/wiki) the following syntax is also suggested (ie. a simple string):
[code]

Using the second option will persist the following:
[code]

[2015-02-11 15:35] techfort commented on #76
This is an error in the wiki, which I will fix immediately. `indices` in Loki > 1.1 is a property of options i.e. `addCollection('users', { indices: ['email', 'phone']})`. Thanks for catching this!

[2015-02-11 15:49] Badisi commented on #76
You are welcome!

Speaking of that, if I use the following, I got an **undefined is not a function** error:
[code]

I did not investigate it further but I think it's related to #30.
Do you an idea of what it might be ?

[2015-02-11 15:51] techfort commented on #76
To avoid clashing properties we renamed the main index in LokiJS to $loki. So unless your properties have an `id` field there may be some error thrown. Could you create a gist or a plunker so I can examine?

[2015-02-11 15:57] Badisi commented on #76
Yes, I was not trying to use the id provided by LokiJS.
The 'id' in this case is a property of a User object.
I'll see if I can provide a reproducible example.
Thanks

[2015-02-11 17:39] Badisi commented on #76
I narrow down the issue and find out that it was due to my misunderstanding of 'Collection.findOne'.
I was expecting a document to be returned instead of a ResultSet.
As we are asking for only one element, a ResultSet is kind of useless don't you think ?

Also I was expecting 'Collection.data()' to indeed return the data but instead I got an empty array.
Maybe find a bug here.

Plunker: http://pln

[2015-02-11 20:53] mprokopowicz opened #78 "findOne"
Why does the findOne returns Ruleset, not found document or null if not found?

[2015-02-11 20:59] mprokopowicz opened #79 "Reuse existing id instead of $loki"
My use case for LokiJS is to gather lot of messages in browser coming from server over websocket and apply dynamic views for this messages.

All of messages coming from server has their unique id. It will be great to have an option to tell Loki to use existing ids instead of creating new $loki id.

Now if i want to get doucment by my existing id, i have to do this way:

[code]

if I understand the

[2015-02-11 21:02] mprokopowicz opened #80 "Make "meta" optional"
Is adding "meta" properties essential to LokiJS?
If not - it will be great to make it optional.

[2015-02-11 21:05] techfort commented on #80
That's a nice idea. I will inspect if there are features that heavily rely on meta, and if a quick work-around can be done to achieve this.

[2015-02-11 21:12] techfort commented on #79
get() would be faster but if you index a field the performance hit will be on building the index and after that it should be nearly as fast as get() (*nearly*). As LokiJS is capable of upwards of 300k ops/s on indexed find you should be absolutely fine. Let me know if this is the case. If find() is not as fast as you'd like it to be then I have a solution in mind which will take me a few days to i

[2015-02-11 21:13] techfort commented on #78
It's probably worth considering returning the record directly instead of the resultset. I'll have a quick conversation with @obeliskos  about this.

[2015-02-11 21:24] mprokopowicz commented on #79
I mentioned performance, but it's really abut syntax / code style.

Lets assume that my server sends me to browser following message:

[code]

and

[code]

Later, when some name has been changed server sends:

[code]
So on every message I have to check if it already exists and i should just update the document or its a new messege and I should insert it to collection:

[code]

I don't feel very go

[2015-02-11 21:29] techfort commented on #79
Ok that's a very precise use-case which I can analyze and see if there's a case for implementing a library change (as it would be useful to everybody using LokiJS). I will include it in the 1.2.0 milestone so it's addressed in the next few days. Straight off the top of my head i can see a mongodb-like `upsert` forming.

[2015-02-11 22:05] mprokopowicz opened #81 ""in" / "oneOf" operator"
I would really like operator, that checks if document property matches one of provided array value.

For example for document
[code]

I want to do `collection.find({int: {$in: [3,4,5,6]})`

[2015-02-11 22:26] techfort commented on #81
That's also a good idea. You can definitely do that with a Resultset at the
moment, by doing something like
[code]
but yeah a utility method would come in handy.

On Wed, Feb 11, 2015 at 10:05 PM, Michał Prokopowicz <
notifications@github.com> wrote:

[2015-02-12 00:04] obeliskos commented on #75
Thanks for spotting that... that was kind of an ugly bug.  Let me know if dynamic views get confused again.

[2015-02-12 00:10] obeliskos commented on #81
We already have $in operator.    Maybe i am missing something but have you tried your example above?

[2015-02-12 00:25] obeliskos commented on #79
You could use findOne() which will return first object matching that criteria or null if none exists.

Possibly the general use case you are describing might fit in with a cache mode feature we have considered.  Cache might normally might be age based or mru based, but maybe we could also allow it to enforce uniqueness of a user column and kick out any old values.

For performance purposes user su

[2015-02-12 00:30] obeliskos commented on #78
findOne should return the first document matching your criteria, or null if none exist.  If it is returning a resultset for you, it is a bug so please provide test case.

I just ran a quick test and it seems to work as I described above for me.

[2015-02-12 00:39] obeliskos commented on #75
Also collection.chain().remove() should work as well.

Or dynview.resultset.remove() should remove all documents in the dynamic view's resultset.

[2015-02-12 07:12] techfort commented on #81
You know- I did think that! It was a very recent addition. I've got to get
more sleep. Closing this, feel free to re-open if it's not what you wanted
exactly.

On Thu, Feb 12, 2015 at 12:10 AM, obeliskos <notifications@github.com>
wrote:

[2015-02-12 07:12] #81 closed

[2015-02-12 07:41] mprokopowicz commented on #81
I seed it in code :)
Needs to be documented.

[2015-02-12 07:57] mprokopowicz opened #82 "Dot notation in idicies"
It's not clear for me if it is legal to use dot notation in indices?

[code]

[2015-02-12 07:58] dnfpili commented on #71
I tried to add a removeWhere from the plunker you gave me but it seems to error out.

http://plnkr.co/edit/aA1nllguAAD4pi3jsNJH?p=preview

[2015-02-12 08:45] Badisi commented on #78
I've made a plunker to reproduce this issue.
('findOne' is returning a Resultset instead of a document)

Plunker: http://plnkr.co/edit/an4zfquYf6kl1hWPRMcX

[2015-02-12 09:30] techfort commented on #78
I can't load the plunker, is it possible it's private or the url is wrong?

[2015-02-12 09:50] Badisi commented on #78
Is this one better: http://plnkr.co/edit/LgcaKd?p=info ?

[2015-02-12 09:51] techfort commented on #71
I see - weird! I'll create a separate issue to this one, if we're all agreed on framework-specific adapters then we should probably close this.

[2015-02-12 11:13] techfort commented on #78
Yes, perfect. Now that's weird, will investigate asap.

[2015-02-12 11:31] obeliskos commented on #78
I ran the test case and yea there was a bug when doing findOne on indexed property which is now fixed.

Thanks!

[2015-02-12 12:07] obeliskos commented on #82
Dot notation is not currently supported in indices.  Could consider adding it at some point in the future once we prioritize roadmap.

[2015-02-12 13:06] techfort commented on #78
Thanks @obeliskos ! closing this.

[2015-02-12 13:06] #78 closed

[2015-02-12 13:08] techfort commented on #82
A good idea - will create a 1.3.0 Milestone and add it in there. I don't want to rush anything that deals with indexes, there are always performance implications as well as functionality ones involved when working with indexes.

[2015-02-12 13:39] techfort opened #83 "Bug on removeWhere"
In reference to this, the dynamic view seems to keep a zombie "undefined" document in it after its removal.

[2015-02-12 13:41] #71 closed

[2015-02-12 13:43] techfort commented on #83
This is quite weird. The underlying collection is intact, so is the view, but instead of removing the element from the view an "undefined" zombie element is left in. I need to revise the mechanism to remove documents, especially in a loop where they may cause strange behaviour.

[2015-02-12 15:12] techfort commented on #76
Ok I will close this as #78 is being worked on.

[2015-02-12 15:12] #76 closed

[2015-02-12 15:24] obeliskos commented on #83
is your removeWhere invoking the DynamicView.removeDocument() which -is- raised from collection.remove() ?

[2015-02-12 20:26] techfort commented on #83
Ok - this was a headwrecker. The bug was not with lokijs, it was with the fact that i copied the latest minified version of lokijs, which had a couple of important bug fixes missing and a different (broken) implementation of removeWhere.
The plunker now works correctly: http://plnkr.co/edit/rye2uw1rhncOmNxbMfnh?p=preview sorry about that. Closing this.

[2015-02-12 20:26] #83 closed

[2015-02-12 20:33] techfort commented on #79
We had a quick conversation about this particular feature. The implications of fiddling with indexes are heavy, as they affect performance and stability of Loki. So we will keep this issue open and defer it to the 1.3.0 Milestone, which is tentatively due in April. We are working on the caching features that @obeliskos  mentioned, so this discussion will come up again.

[2015-02-12 20:38] techfort commented on #75
Closing this as there are multiple ways to do this safely.

[2015-02-12 20:38] #75 closed

[2015-02-12 20:43] techfort commented on #80
There's quite a few features relying on meta at the moment. We will definitely look into the feasibility of this but for now it will have to be postponed to 1.3.0.

[2015-02-13 13:01] mprokopowicz opened #84 "Using DynamicView.resultdata"
I'm using undocumented "resultdata" property of DynamicView, because it fits very good my needs (One reference to always up-to-date array).

DynamicView.data() returns always a new array.

I've got 2 questions:
1. It is safe to relay on resultdata in persistent views?
2. Why does the resultdata it's not sorted? (I've got simplesort applied on my DynamicView)

[2015-02-13 13:17] obeliskos commented on #84
Currently, persistent views only sort on data() call to avoid thrashing the view when many inserts/updates are being performed.

I will be revisiting dynamic views and should make improvements to them within the next release timeframe.  This might be accomplished using a throttled resort timer as option and/or new events to tap into.

[2015-02-13 13:39] mprokopowicz commented on #84
@obeliskos Thx!
What about using resultdata? It's safe or am i touching loki internals which may change?

[2015-02-13 13:45] techfort commented on #84
For now I wouldn't do it unless you don't care so much for sorted data. And yes if you apply changes to resultdata you'll get a big sign saying "At your own peril" :)

[2015-02-13 13:49] mprokopowicz commented on #84
Got it.
I will switch to data() for now.

[2015-02-13 13:50] #84 closed

[2015-02-13 16:11] techfort commented on #70
An initial implementation included, supports full-objects for keys, performance is for now not as good as a plain js object (but a js object does not support a "weakmap" or objects/arrays for keys)

[2015-02-13 20:17] #70 closed

[2015-02-16 22:16] techfort commented on #51
I postponed this issue to 1.3.0: at the moment Collection has no encapsulated attributes, so - effectively - you can simply do a `JSON.stringify` to serialize, then do a `JSON.parse` and iterate the properties of the  parsed object copying them into an instance of collection. An example of this pattern is available here: https://gist.github.com/techfort/519dc03e2bf10251e2df
By 1.3.0 we'll add a ut

[2015-02-18 13:07] simonvizzini commented on #71
Hi guys,

just wanted to give a quick update regarding this issue/the framework specific adapters and the resulting discussion we had here.

I was setting up a playground with a simple grid, backed by Loki and Knockout, to be able to experiment and see how such an adapter could work/look like and make everything fit my specific use-case. In the end I ended up developing a prototype of my own "in-m

[2015-02-18 13:39] techfort commented on #71
Thanks for the update and keep us posted. Don't know if it comes in handy for you, but I also wrote an extremely mnimalist and mainly functional programming version of Loki called [fundb](https://github.com/techfort/fundb), based on a more classic FP approach (like Ramda.js or in general how you would do things in Haskell/Clojure)

[2015-02-18 14:08] simonvizzini commented on #71
Thanks for mentioning fundb! I'll have a look and maybe I can ~~gracefully steal some ideas~~ get inspired :laughing:

I'll definitively keep you posted but it may take at least a week or two until I get things done.

[2015-02-20 13:33] Badisi opened #85 "findOne failing in a particular scenario"
I have a scenario where I'm dynamically trying to create and update documents while looping through an array of objects.
In this scenario, findOne is working fine the first time it is called but next it will always return the document from the previous call.

I've tried to make a very simple example available here: http://plnkr.co/edit/fD6vnv

I did not investigate much but it seems that the issue

[2015-02-20 14:22] techfort commented on #85
I'm sorry if this sounds stupid but i would have thought you would do this:
`var result = brandCollection.findOne({'brand':car.brand});` instead of
`var result = brandCollection.findOne({'id':car.brand});`, as far as i can see ids are completely different from brands.
Again sorry if i misunderstood the issue.

[2015-02-20 14:57] Badisi commented on #85
I'm sorry, I agree that 'id' could be misleading (it was just meant for the example).
I've updated the plunker and replaced 'id' by 'brand' as you suggested.

Now, as you can see in the log, after we successfully retrieve a document with findOne, the next calls will not always return the objects we were looking for.

[2015-02-20 15:01] techfort commented on #85
Ok I'll look into this
/cc @obeliskos

[2015-02-20 15:24] obeliskos commented on #85
I think its a bug he found.

loki.js, line 1583 should be :
return t[index.values[seg[0]];

I will update later today or you can try updating and see if that fixes it for you.  If that's not it let me know.

Problem exists in edge case where doing findOne on indexed column.

Thanks for reporting.

[2015-02-20 16:04] Badisi commented on #85
Thanks for your prompt reply.
This seems to have fix both the issue in the plunker and in my personal use case.
Again thanks for your hard work to both of you !

[2015-02-20 22:36] techfort commented on #85
@obeliskos thanks a lot for squashing that bug. And thanks @Badisi for the kind words. Closing this.

[2015-02-20 22:36] #85 closed

[2015-02-22 16:31] instabledesign opened #87 "$contains issue when `a` is array"
#63 Introduce a bug where `a` is an array

[code]

[2015-02-22 19:47] #87 closed

[2015-03-06 15:40] KimSchneider opened #90 "{} and getAll"
Hey,

it would be much easier to handle programatically generated find objects if a {} would result in a getAll. At the moment this seems to be the case if you pass null to find only.

I wanted to fix the code myself but was not sure if that would break anything.

Regards,
Kim

[2015-03-06 23:02] obeliskos commented on #90
No problem, I believe the change I just committed should perform as described.  If not you can submit pull request or describe further.

Thanks,
Dave

[2015-03-09 08:04] KimSchneider commented on #90
Alright, thanks! :)

[2015-03-09 08:04] #90 closed

[2015-03-09 21:43] DominicBoettger opened #91 "Search in Arrays"
I have a array in my documents:

///
{
  title: 'test',
  topics: [{id: 1, title: 'topic1'}, {id:3, title: ' topic3'}]
}
///

Is it possible to search for documents where topics.id = 3.
In mongodb i can do this with 'topics.id': 3. Is it possible to search in arrays like this with loki?

Thanks
Best regards
Dominic

[2015-03-10 10:13] obeliskos commented on #91
yes we support dot notation in find()

[code]

[2015-03-10 12:05] obeliskos commented on #91
Sorry... I should have read more carefully.

Currently 'no',  our dot notation currently does not work on arrays.  This seems to be something we could add without too much effort so I will look into adding it over the next few days or so.

Until then you could use 'where' clauses which use javascript filter functions to do this filtering.

[2015-03-10 14:14] MatiasFito opened #92 "File system persistence issue (Node.js)"
I'm running a little node.js server that creates a little LokiJS database and then loads it back. My problem is that when i try to load the database from the file, the collections attribute is empty even though i can see the file created and the collection and it's data is there, i have screens of my code, so you can see if something is wrong but the process is very simple.

![Image of save method

[2015-03-10 15:03] techfort commented on #92
Hey Matias,

can you take a look at this :
https://gist.github.com/techfort/66898d95ac8ff133720d
As node,js does i/o asynchronously you may be trying to log before the
database is loaded
If not let me know and i'll look into the issue.
Joe

On Tue, Mar 10, 2015 at 2:14 PM, MatiasFito <notifications@github.com>
wrote:

[2015-03-10 18:20] MatiasFito commented on #92
Hi Joe, thanks for taking the time to help me. I tried with the Gist you sent me, i had to change saveToDisk() to saveDatabase() couse it said it didn't have souch method.

The console output was not the expected, it showed only the console.log(users.data) but the console.log(users2.data) didn't output anything (like it was empty). I took a screenshot of it:

![Image1](http://puu.sh/guGXB/265bccfa

[2015-03-10 19:33] wilblack opened #93 "'pre-insert' event not firing or found."
Hi.
I have been using LokiJS for about 3 months now in the browser. The IndexedDB adapter is great. I am having a few problems however.

In reading the docs for LokiJs you mention a `pre-insert`  and `pre-udate` events. I am trying to use these to insert UUID's into my collection objects when created to no avail. Looking in the code on the master branch these do not appear to exist. Is the documen

[2015-03-10 19:33] techfort commented on #92
Hi Matias,
sorry, the gist is actually a bit outdated, but I didn't have much time earlier to inspect the issue. I'll work on this asap. And don't worry, persistence works just fine, we have plenty apps using loki to persist data so i'm sure we'll get to the bottom of this.

[2015-03-10 19:51] MatiasFito commented on #92
Thanks a lot!, I'll help you in anything you need just say the word :).

[2015-03-10 19:53] techfort commented on #93
Hi,
I'll look into why the events are not fired, and revert as soon as possible. Hopefully it's just a matter of sticking in an emit('pre-insert', obj) before inserting the object. Same for the update.

As for versioning...  yeah - i need to tidy things up a bit on that side. Let me see what i can do in the short term.

[2015-03-10 20:22] techfort commented on #93
Hi Wil,

i have applied the `pre-insert

[2015-03-10 22:40] obeliskos commented on #92
I think in your first post you should change your second code sample to look like :

[code]
first param should be options but you can pass empty object, and then callback because (as Techfort mentioned) is async.

This worked for me in node and node webkit, let me know if that doesn't work in your case.

[2015-03-11 03:01] obeliskos commented on #91
I did initial checkin of changes which support your example.  In doing so I noticed dot notation may not be detecting properly when you include an operator.  I'll work on that next but in meantime, form your query with implicit equals operator like :

[code]

If you prefer to wait I will probably do further testing and fix operator detection over the next few days.

[2015-03-11 03:16] c0bra opened #94 "Question about changes API"
Is there a chance that a change could occur in-between serializeChanges and clearChanges?

If so could they both take a Date argument to avoid this? Or maybe I'm missing something?

[2015-03-11 09:41] DominicBoettger commented on #91
Hi,

thanks for your work! I will not be able to use it for my current project, but it will be helpful in the future.

Best regards
Dominic

[2015-03-11 11:25] obeliskos commented on #94
This is mostly Techfort's area of expertise, so hopefully he will chime in.

Looking at the code it seems both calls are synchronous... do you have pending insert/update/delete calls into loki which are async on your end?

[2015-03-11 11:50] techfort commented on #94
Yep, confirming the synchronicity of those calls. Due to the
single-threaded nature of javascript if you generate your changes and then
call clearChanges nothing will happen in between.
clearChanges however is not called automatically (IIRC, i need to double
check this), so you will need to make that call yourself. I remember not
wanting to make the assumption that once generateChangesNotification

[2015-03-11 12:25] MatiasFito commented on #92
It worked!, as long as I'm inside the callback function i can access all the data retrieved from the data base. Thank you both for your help you can close this issue, but maybe test and really look into it to document this behaviour couse not everybody knows about the "async nature" of node and how it could be affecting this particular scenario. Thanks again!

[2015-03-11 14:05] c0bra commented on #94
Yea my use case would involve changes synchronization being done asynchronously, so I wouldn't be able to guarantee that changes could occur during the interim.

Specifically, I've just been brainstorming about syncing changes between devices on a LAN over WebRTC. This would probably be better accomplished when replication or the like is finished, but I was curious if there was anything already av

[2015-03-11 14:11] techfort commented on #94
Actually I've been cooking in my mind a similar idea recently. Basically, changes are creating clones of objects, and i was thinking of wrapping the changes into a collection. Because lokijs objects have timestamps (creation, update), you could then create resultsets or dynamicviews on those. At that stage all your application would need to do is keep track of the last time you queried for changes

[2015-03-11 14:32] c0bra commented on #94
@techfort changes are full clones, and not diffs? I guess in that case it would be "last write wins"? Seems like it would work, more or less.

[2015-03-11 15:38] techfort commented on #94
Yeah sounds right. Let me know if it does.
On 11 Mar 2015 14:32, "Brian Hann" <notifications@github.com> wrote:

[2015-03-11 20:06] miketahani opened #95 "findOne() return type is not consistent"
I haven't extensively tested this, but it appears that findOne() returns different types based on the query.

`collection.findOne({'attr1': attr1});` returns the document object.

`collection.findOne({'$and': [{'attr1': attr1}, {'attr2': attr2}]});` returns an array containing the single document object.

The expected behavior is findOne() returning either an array containing the document *or* the

[2015-03-11 21:44] techfort commented on #95
Hey Mike, thanks for flagging this. @obeliskos worked a lot on findOne so he might have a good idea of how to resolve this straight away.

[2015-03-11 22:11] miketahani commented on #95
I think what's happening is unrelated to the query and instead has to do with indexed/unindexed fields. These are the offending lines, where findOne returns a Resultset array and findOneUnindexed returns a document:

[findOne](https://github.com/techfort/LokiJS/blob/master/src/lokijs.js#L3015)
[findOneUnindexed](https://github.com/techfort/LokiJS/blob/master/src/lokijs.js#L3050)

I'd submit a pull

[2015-03-11 22:27] obeliskos commented on #95
Yea could be the new $and and $or paths which I just added didn't consider findone.  I'll take a look at that tonight.

[2015-03-11 23:57] obeliskos commented on #95
Thanks for letting me know about this, I think I have fixed it.  Feel free to try out and let me know your results.

I will try to add some test cases for this over the next week so I don't forget about these paths (findOne with $and $or ops).

[2015-03-12 19:14] seriousme opened #96 "cryptedFileAdapter"
Hi,

I've been playing a bit with Loki and thought it would be fun to see if I could create an adapter for crypted file storage on Node.js

The first version was using Krypt (https://github.com/mmoulton/krypt/), but to reduce dependencies I added the relevant code to the adapter itself.

The result is at:
https://gist.github.com/seriousme/122684ca0396dbd6262f

The idea is that the secret comes fro

[2015-03-12 20:13] techfort commented on #96
Hi Hans,

well that's just awesome, mighty kudos your way!

I would very much like to include this into the main repo, however I'd be
reluctant to do so because lokijs has no dependencies and i'd like to keep
it that way...

So maybe the best solution is for you to create a github repo for it and
I'll reference your project from Loki's README and in the official
documentation (and wherever else we

[2015-03-12 20:31] seriousme commented on #96
Joe,

great to read you like it. I already read in the docs that you were proud on having no deps
(thats why I cut Krypt out of the loop :-))
However the code uses no external dependencies. Crypto is part of the node core libs ( see https://nodejs.org/api/crypto.html#crypto_crypto ) just like "fs".

As I did it just for fun and have no intent do long term maintenance I'd rather donate the thing to

[2015-03-12 21:17] techfort commented on #96
Well that's even better, sorry for not getting that you didn't use any
external deps.
If you want to submit a PR and get the credit for it, please do and I'll
merge it right away.
And thanks a lot for your great work, it's really appreciated. I hope Loki
made your life a bit easier in your projects.
joe

On Thu, Mar 12, 2015 at 8:31 PM, seriousme <notifications@github.com> wrote:

[2015-03-12 22:12] obeliskos commented on #96
Very cool!

Since you mention node webkit, you could rename your global var to something other than 'crypto' since that is already defined in webkit as (web) crypto api.

Yea do a pull request as @techfort  suggested if you want.

[2015-03-13 10:11] seriousme commented on #96
Thx for the tip, I changed crypto to cryptLib

[2015-03-13 19:27] seriousme opened #98 "persistence question/idea"
hi,

while looking at the persistence code in lokijs.js I noticed some double code.

e.g.
[code]

occurs twice

Would it be an idea to create the default persistenceMethods as adapters inside lokijs.js
And then on init bind an instance of the relevant adapter to the loki instance.

e.g. something along the lines of : https://gist.github.com/seriousme/fb1690a99e8b15ec42a9

Then the persistence meth

[2015-03-13 19:46] techfort commented on #98
Hi Hans,
that sounds good! Yeah there's a bit of cleanup to be done on the entire codebase, so if you notice stuff like code repetition by all means go ahead and refactor.
your encrypted storage piece of work was great, so whenever you have ideas feel free to submit PR's, i don't need further confirmation of your great coding skills :)

[2015-03-14 13:57] #96 closed

[2015-03-14 14:02] seriousme commented on #98
Thx for merging the PR.

[2015-03-14 14:02] #98 closed

[2015-03-15 14:24] obeliskos commented on #95
I have added test cases which verify this code path works (and will continue to work)

[2015-03-15 14:24] #95 closed

[2015-03-15 14:30] obeliskos commented on #91
No problem.  Seems explicit operators ('$eq', '$gt', '$lt'...) work fine.

Added test cases which validate this subarray searching, so closing issue.

[2015-03-15 14:30] #91 closed

[2015-03-15 14:37] obeliskos commented on #92
Great, yes the node filesystem object provides synchronous and asynchronous methods... loki uses asynchronous versions.  Indexeddb for web users requires async and localstorage is generally synchronous.  To accommodate all persistenceMethods with similar interface we use that callback.

Hopefully we will document this better in the future.  Will close this issue now.
Thanks!

[2015-03-15 14:37] #92 closed

[2015-03-17 11:39] nolanlawson opened #103 "IndexedDB: unnecessary "app" index"
Hey, cool library. :) I was looking through your IndexedDB implementation, and I have a suggestion.

You're storing an `appkey` as well as an `app` and a `key`, with the `appkey` being [a composite of the two](https://github.com/techfort/LokiJS/blob/b399d08a0de8059005e20960fd6e6cfa5a2bbca2/src/lokiIndexedAdapter.js#L409-L421). That's a good strategy, especially since IE/Safari don't support comple

[2015-03-17 11:58] obeliskos commented on #103
Interesting idea... thanks!  I am sure you are familiar with the metal behind this so I trust this works.

In order to implement it I would have to do an indexeddb version upgrade so I may add this to list and when I need to break compatibility try this out along with any other changes.

Hopefully I will clean that adapter up soon, possibly after we refine our adapter interface more.

Thanks again

[2015-03-17 13:32] robhicks opened #104 "Asynchronous Collection Loading and Searching"
I'm having problems searching.
I am using promises to search a collection which is asynchronously loaded. In my controller have the following function which is called to build a list of projects, which is injected into my view using controllerAs:
[code]
The controller uses a service (dbs) to get or load the projects collection:
[code]
So if the projects collection is already loaded, it returns imm

[2015-03-17 13:58] nolanlawson commented on #103
No need for a version upgrade. :) Since you're subtracting an index rather than adding one, all you have to do is just remove the `createIndex()` and stop using the old index. You can also stop storing the `app` value in the doc (just store `appkey`) and save a bit of space that way.

Older clients will never know the difference. Their databases may be slightly larger than newer clients, but you c

[2015-03-17 14:38] obeliskos commented on #104
Without a sample I can attach a browser debugger to, the first thing I would recommend testing is removing some or all of your indices to see if it is a problem with index generation / usage.  Functionally your find operations should work the same whether indexed or not.  If it works without any indexes, you can add them back and see if it functions differently when indexed.

[2015-03-17 14:49] techfort commented on #104
Hi, would you be able to create a plunker for this so i can give it a go?

On Tue, Mar 17, 2015 at 2:38 PM, obeliskos <notifications@github.com> wrote:

[2015-03-17 15:13] robhicks commented on #104
@techfort and @obeliskos Thanks for looking at this.
I'll try to create  plunkr but I'll probably have to mock the data. I won't be able to get to it for a few hours.

[2015-03-17 21:43] obeliskos commented on #103
Even better... I'll definitely have a look at this the next time I am working on that adapter.  And yes, avoiding having to do an idb database upgrade makes it much easier :)

Great work on pouchdb... you have some very informative blog posts as well!

Dave

[2015-03-18 00:11] miketahani opened #105 "ReferenceError when linking to src/lokijs.js"
When I try to instantiate a new Loki database in the browser, I get a `ReferenceError: loki is not defined`.

Also breaks the example:

![screen shot 2015-03-17 at 5 10 10 pm](https://cloud.githubusercontent.com/assets/1015032/6700249/93bb1d5e-ccc8-11e4-91a3-5a07c1317729.png)

[2015-03-18 00:13] miketahani commented on #95
Thanks!

[2015-03-18 02:03] robhicks commented on #104
I haven't been able to get a plunkr working but I have discovered that find works for the first parameter of the search query only. Does LokiJs support compound filters? From the code, it appears so. However, if I find using a single filter, it works:
[code]
But if I search based upon compound filters, it ignores everything after the first filter:
[code]
On a hunch, I removed the indices. That did

[2015-03-18 02:38] obeliskos commented on #104
Not implemented that notation yet but this should work :

[code]
Will look into adding your (mongo) syntax above as comma separated implicit 'and' op.

We also support chaining if you don't need strict mongo compatibility, that might look like :

[code]
Only one index is used for $and ops so make the first query expression the most likely to filter out records.

[2015-03-18 02:47] robhicks commented on #104
@obeliskos Thanks for pointing me in the right direction! Do you want me to close this?

[2015-03-18 10:36] obeliskos commented on #104
Since implementing the $and op, it seems the syntax you were attempting is probably the most common.  I will probably be adding support for that syntax soon if performance is not impacted severely.

Sure you can close this and/or create an issue for request of feature.  Otherwise I will close in a bit.

[2015-03-18 12:05] obeliskos commented on #105
Waiting on Techfort to review this error.

I can confirm I also get this on normal html script include (such as our example.html you mentioned).

[2015-03-18 13:05] #104 closed

[2015-03-18 13:05] #103 closed

[2015-03-18 15:29] nolanlawson commented on #103
Thanks a lot! :D

[2015-03-18 17:38] techfort commented on #105
OK i reverted some changes that were applied very recently which moved loki to an object called `thirdParty` preoperty of `window`. Works for me now, let me know if this is the case.

[2015-03-18 17:42] techfort commented on #93
hey @wilblack any update on this? Thanks!

[2015-03-18 22:10] obeliskos commented on #105
Seems to work good for me now

[2015-03-19 10:19] techfort opened #106 "Joins"
At the moment Loki supports in-memory joins e.g.
[code]
But this will not persist correctly as the author will be serialized as an embedded object, not the original author object. There should be a more solid mechanism to operate joins.

[2015-03-19 13:28] tecfu opened #107 "Enhancement: Browser compatibility badge/tests."
Hey Joe - love your project and really hope you succeed big.

I've just come across Loki in the last hour or so. A couple ideas:

- Browser compatibility badges would help new users get a sense of how well supported Loki is in the browser. https://ci.testling.com/ might be a good option. Its a bit hypocritical for me to mention this, because I haven't done it for my own projects. But I think it wo

[2015-03-19 14:00] jrhicks commented on #106
Assuming that we have external ids

    var author = authors.insert({id: 1, name: 'Stephen King'});
    var book = books.insert({title: 'Salems Lot', author: 1})

Do I join like?

    function bookJoin(obj){
        obj.author = author.findOne({id: obj.author})
    }

    function noReduction(array) {
        return array;
    }

    books.mapReduce(bookJoin, noReduction);

My dream API would prob

[2015-03-19 14:33] techfort commented on #106
Thanks Rob, very interesting! It all makes a lot of sense and the API you used is also very consistent with the existing one. Let's get @obeliskos  involved too and see what we can come up with.

[2015-03-19 14:43] techfort commented on #107
Hey there, thanks a lot for the kind words! I was not aware of testling.com  i will definitely look into getting browser compatibility badges.
Adding that "onChange" should be a straight forward and brilliant idea, will get on it asap.
I also admit my complete ignorance of Flux. I know what it is but never worked with it. I will take this opportunity to expand my knowledge on the subject!
Thanks a

[2015-03-19 15:08] assafweinberg commented on #106
A couple months ago, I converted a big project from websql to Lokijs. I had to rewrite about 800 complex relational queries into loki's fluent syntax.  To make things easier, I wrapped a Loki instance in an object that provided a relational friendly interface including joins.

Here's a gist of what the innerJoin function looked like.
https://gist.github.com/assafweinberg/4c7ef4e833d0493c693b

It w

[2015-03-19 15:32] techfort commented on #106
I think the gist is awesome and this whole conversation is stellar. I think the most amazing thing is that @jrhicks  is illustrating the adoption of joins in a DynamicView  and @assafweinberg in the Resultset fluent API, the two main querying facilities of Loki. Maybe it's just me but I find getting to the same result from diametrically opposite approaches is fantastic. As far as I'm concerned the

[2015-03-19 18:22] jrhicks commented on #106
@assafweinberg thanks for the gist!  Clones make sense for anything returned from applyMap.  The structure of applyMap would be 100% under the control of the map function.  The structure of join (as you suggest) needs some consensus.  I don't have an opinion there yet :)

[2015-03-19 18:28] techfort commented on #106
By the way - yes I agree with @jrhicks that clones are a better choice when creating joins. I also  like that `zip` a lot, very convenient. As for chain-ability, I think I have something in mind for that, like - for example - wrapping the resulting join array into an anonymous collection and take it from there. All theoretical, but it could work.

[2015-03-19 18:45] assafweinberg commented on #106
All good points.

Regarding output format - I'm a little intrigued by the 3rd example from my previous comment - the map/reduce inspired join. In practice, I've found that most joins exist only to get at one or two columns from the joined table rather than all of them. If we let the user provide a map function that specifies exactly how the join happens, we're no longer responsible for output form

[2015-03-19 19:35] techfort commented on #106
@assafweinberg that is an extremely interesting point you make, and one made with great timing. I have been working lately on a concept which in my mind i called map-as or map-view (drawing from map-reduce). Basically I thought that sometimes you may have objects of a certain type in your collection, but that's not necessarily how you want to view your data in all circumstances. For example, let's

[2015-03-19 19:42] techfort commented on #105
Closing this, @miketahani feel free to re-open if this does not work for you.

[2015-03-19 20:23] assafweinberg commented on #106
Haha, glad to know we're playing god here!

Yes, we're on the same page. A SQL join in functional terms is essentially just a *match* function that defines how to pair up records from two tables,  followed by a *map* function that defines how to combine data from record pairs into a new object. In Javascript, we can actually define those two operations much more expressively than we can in SQL.

T

[2015-03-19 20:48] techfort commented on #106
I say it looks great to me, it's a great approach. We could even give it a stab already but I really want to hear what @obeliskos has to say first, and we can then start prototyping this. Joins would definitely be a highlight for 1.3.0, due in April.

[2015-03-19 21:08] jrhicks commented on #106
@assafweinberg I'm trying to understand

[code]
Is the speed of this O(n^2) because the Match function must be called on each combination of left and right doc?

[2015-03-19 22:04] jrhicks commented on #106
Couch has this concept of a "design document".  A design document describes how to obtain the linking value from each different type of document in the join and then uses this to maintain a heterogenious collection sorted on the key.

[code]

You could then iterate over the combined in order dumping the results like such:

[code]

[2015-03-19 22:31] techfort commented on #106
Yes I like this very much too, and the reduction in the number of
operations is a definite highlight given our emphasis on performance! How
would you see this implemented respecting the api you illustrated in your
first post (which i really liked)?

On Thu, Mar 19, 2015 at 10:04 PM, Jeffrey Hicks <notifications@github.com>
wrote:

[2015-03-19 22:40] obeliskos commented on #106
Wow... might take a while to catch up with this convo :)   I actually rather enjoy watching you guys work this out.  Any of these ways would work, most described above would require users code to initiate orchestrate which many times is probably preferred.

May end up being we eventually provide both a code driven join/mapjoin approach as well as a data driven join feature whereby it can be persis

[2015-03-20 01:40] jrhicks commented on #107
@tecfu @techfort - I've been thinking about how replication and lokijs could fit into the flux pattern quite a bit lately.  After my first implimentation I can say that flux slows down replicating 30,000 records .... I'm looking into some "almost flux" patterns and after facebook release their relay diagram today https://facebook.github.io/react/blog/2015/03/19/building-the-facebook-news-feed-with

[2015-03-20 05:21] tommyhtc opened #108 "how to use loaded db outside of callback functions"
hi there, so I'm just learning loki,

let's say I have a loki database called "test.json" with a collection "Users".
I'm running node,
In some .js file, I want to access that database and write to it.

Currently, I only know how to access a loaded database with callbacks,
for example, with:

db = new loki('test.json',{autoload:true, autocallback: foo()});

and then I'm able to access the loaded db

[2015-03-20 10:23] techfort commented on #107
@tecfu  @jrhicks I am going to spend the next few days familiarizing with flux. I suppose i dodged it all along because i was otherwise occupied but i definitely need to face the beast now. Nonetheless, if you feel like keeping this going with further information I will very much appreciate it.

[2015-03-20 10:38] obeliskos commented on #108
Yea, your callback can be anonymous such as :
[code]
Or you could edit your copy of loki.js and change :
[code]

This seems academic, is this something you see others wanting to do? Is it worth allowing user to configure an option to force synchronicity?

[2015-03-20 10:51] techfort commented on #108
I have to look into the details of it but you could implement the load as a promise. Ultimately I/O is async so there's going to be some form of callback involved, whether a normal node.js style one a promise-style one.

[2015-03-20 11:40] techfort opened #109 "React Flux Store"
Create a flux store that utilises LokiJS.

[2015-03-20 13:48] assafweinberg commented on #106
@jrhicks - You're right that the match function wouldn't be the most performant thing in the world, though it would probably be good enough in most cases.  I'd recommend running some tests to see how bad the problem would be.  Its nice because it gives users the opportunity to write complex ON clauses.

If we had to drop it, we could do something like this using the join field names, which would b

[2015-03-20 14:09] jrhicks commented on #106
This last API example is really cool, flexible, and fast.  I think it is a good example of a result-set-join API.

[code]

[2015-03-20 14:21] assafweinberg commented on #106
I think you're right - none of the mapJoin patterns actually require cloning objects because the mapJoin returns new objects created in the map function.

Another question this brings up... are we doing inner or left joins or both?

[2015-03-20 14:31] techfort commented on #106
@assafweinberg @jrhicks this is really good. 2 things:
* for joins to be applied to a dynamic-view, the speed of creating the joins doesn't matter that much because the view recomputes itself on db changes. Yes, we can measure performance in terms of ops/s but in the real world this is also measured by how quickly data is made available to other application components. If a view (dynamicview) re-c

[2015-03-20 15:40] jrhicks commented on #106
@assafweinberg @techfort Is Left-Right the way to think about it?  Top-Bottom makes sense to me.  Maybe Collated Result Set Makes more sense then Joined Result Set.  Please skip to minute 6:00 of  https://www.youtube.com/watch?v=lQLTiX93PL8

[2015-03-20 16:15] assafweinberg commented on #106
@techfort - I agree, left outer joins are the easiest to get started with. I *think* we're on the same page on algorithm. We'd run over each table in the join to create the data structure that @jrhicks described above.

@jrhicks - I just used left and right since they have meaning in a relational context... same domain as "join" (vs collate/top/bottom).

[2015-03-20 16:36] tommyhtc commented on #108
Hi guys, thanks for your responses..
while I'm new to loki, I'm also new to node.js,

it's only after I asked the question did I learn about the asynchronous nature of node.js,

this is probably a basic question,
but let's say I have two functions create_person and create_edge where create_edge creates an edge between two people by storing two person ids.

for both create_person and create_edge, I

[2015-03-20 17:33] obeliskos commented on #108
The asynchronous nature is mostly limited to I/O operations... for loki this is mostly loading and saving.
Inserts, updates, removes are synchronous in loki, so once you call them you don't need a callback, they are done.

Your example is more representative of a graph database.  Are you doing this for school or personal?  If school, you may want to research graph databases which work in node.

[2015-03-20 18:01] ArnoBuschmann commented on #109
I guess you mean a flux store for Reactjs? That would be interesting! Actually I just stumbled over LokiJS after reading http://jrhicks.github.io/replicate_architecture_ideas_for_react_flux_apps/index.html from @jrhicks.

As facebook points out, that reactjs is being used best with immutable data, so I wondered, if there is a meaningful way (I'm not sure if it even makes sense?) to combine LokiJS

[2015-03-20 18:11] techfort commented on #109
Hi Arno, the question makes sense, and i too have been wondering about data immutability as I like the concept. So for now I don't have an answer for that other than "I'm going to investigate this asap".

As for remote syncing, there are a number of possibilities, mainly:
* use LokiJS's Changes API to post deltas to your server
* write your own PersistenceAdapter which persists to a remote server

[2015-03-20 18:40] tommyhtc commented on #108
hey, this is for a school project, for various reasons our team decided to use loki.

when I say callback, I think I may have misled you, I'm referring to the anonymous functions that you talked about above,
for example, foo() in this case, in all of my insert functions, I do the inserts in the anonymous function.
When I'm calling insert, I'm not calling any other callbacks.

I'm only saying I'm c

[2015-03-20 19:08] ArnoBuschmann commented on #109
Basically the other libraries I mentioned are mostly based on keeping the entire appstate in one JS and/or immutable object and provide cursors. These cursors are passed to Reactjs components, together with event emitters, so if the data changes, the React component rerenders. Here I see similarities to your views in LokiJS.

Now these libraries are not meant to persist data on the server, just to

[2015-03-20 19:15] jrhicks commented on #109
@ArnoBuschmann Keep us posted on what you come up with!  I'm thinking about making the case that writing to a database is NOT mutating state.  Its something different, its writing to a database!  The database in turn has listeners that can trigger actions, the actions can dispatch to stores, and the stores can update state and pass immutable state to the views for their re-rendering pleasure.

[2015-03-20 20:06] ArnoBuschmann commented on #109
@jrhicks Thanks for joining and clarification. I completely agree, that writing to a DB is not mutating state.

I just saw that collections emit events on change, does that apply for views too? That would be neat indeed to update stores on LokiJS-view-changes.

[2015-03-20 20:13] jrhicks commented on #109
I'm not 100% on the LokiJS events, thats question is best for @techfort.  I would like to clarify that the LokiJS-view-changes would update the stores through the typical action->dispatch->store flux pattern.

<img src="http://jrhicks.github.io/replicate_architecture_ideas_for_react_flux_apps/rd.png">

[2015-03-20 20:16] techfort commented on #109
@ArnoBuschmann @jrhicks here's my problem. I appreciate the value of immutability and i am a fan of it. In fact, i will admit that if LokiJS had been developed today from scratch it would contain a lot more functional programming /FRP code than it does now AND it would definitely make use of immutable structures.

Today on twitter I asked a user what he would think of using LokiJS as a store and t

[2015-03-20 20:37] jrhicks commented on #109
@techfort I've been studying the full-stack link that the twitter user links to: https://blog.rotenberg.io/million-user-webchat-with-full-stack-flux-react-redis-and-postgresql/ ... Its hard to tell from his diagram at first glance, but the components are actually initiating actions by writing to PostgreSQL and the actions are being triggered through PostgreSQL triggers!  Its almost identical to wh

[2015-03-20 20:44] techfort commented on #108
@tommyhtc ok - let's take a step back. JS is single-threaded. This means things cannot EVER happen concurrently (academically speaking this does not even happen in languages that only support threading, but only in those supporting concurrency, but that's a whole other story).
So, talking about normal code, if you have:
[code]
they will execute in order, no matter what.
The asynchronicity problem

[2015-03-20 20:57] techfort commented on #109
@jrhicks exactly, thank you for making me feel less stupid :) I think LokiJS can break new ground towards a solid architecture. We avail of the changes API: it means we can keep trying to get the client-side store and the server in sync until it's successful (which in most cases it's upwards of 99.9% of comms) and given LokiJS's meta object contained in each record you can even implement a "last w

[2015-03-20 21:21] baseio opened #111 "collection.ensureIndex()"
Hi,

A collection.ensureIndex(propertyName) method is mentioned in at the [Indexing-and-Query-Performance](https://github.com/techfort/LokiJS/wiki/Indexing-and-Query-Performance) page, but I see no documentation for it.
Experimenting a bit, this seems to be working:

[code]

Correct?

Thanks!

j.

[2015-03-20 21:38] tecfu commented on #109
+1

[2015-03-20 21:41] techfort commented on #111
Yeah that seems fine. Ultimately we wanted to keep ensureIndex shielded from users in case we change its implementation, you can initialize the index by declaring the collection as:
[code]
Hope this helps!

[2015-03-20 21:43] obeliskos commented on #108
Great explanation @techfort

What you are describing is a 'graph' database.  A graph database is one type of NOSQL database.  LokiJS is primarily a 'document-oriented' database.  You can however try to simulate a graph database within LokiJS, I just feel I need to mention this in case your instructor cares.  Eventually loki make include relations which may make this easier, for now you have to rel

[2015-03-20 21:44] baseio commented on #111
super! Thanks!

[2015-03-20 21:44] #111 closed

[2015-03-20 21:53] tommyhtc commented on #108
guys, I appreciate your thoughtful and useful responses, it's a great learning process for me.

@obeliskos, thanks again for your suggestions. We are doing something very similar to what you had in the code snippet, simulating a graph database using loki. And while graph databases have come up in our discussions, our group decided not to use a graph database for now.

@techfort
thanks again, I app

[2015-03-20 22:05] techfort commented on #108
hehe no :)
node.js in a way "washes its hands" of what happens while I/O is executing. In theory, given that A and B deal with the same file, Acallback should execute before Bcallback, but there is no guarantee of that. If the read operation encounters problems, it may well be that Acallback will end up being executed after Bcallback.
So yes, this is exactly what you need to be careful of.
If you

[2015-03-20 22:05] obeliskos commented on #108
I/O is input/output... anything from reading/writing files, receiving/transmitting web requests/responses, etc.  I/O is generally -much- slower so to avoid having the cpu lock up your program waiting for responses async allows you to continue.

You should not be creating loki in each function, maybe do something like :
[code]

[2015-03-20 22:06] techfort commented on #108
@obeliskos thanks for showing the pattern, that should help a lot @tommyhtc

[2015-03-20 22:11] tommyhtc commented on #108
@techfort , @obeliskos
many thanks for your help.
Now everything is clear and I can go modify my code now!

[2015-03-20 22:19] obeliskos commented on #108
Glad to help, good luck

[2015-03-20 22:24] ArnoBuschmann commented on #109
@jrhicks Yes, that got clear in your first comment indeed and describes nicely how to "connect" LokiJS to the React infrastructure (including  for example Immutable/Freezer/Baobab).

@techfort The views rebuild event sounds very interesting then because I could kind of "observe" the db with my custom criteria (view) and use that event to initiate an action, that triggers the store to update from t

[2015-03-20 22:51] techfort commented on #109
DynamicView - like Collection and Loki itself - is a LokiEventEmitter. Which is nothing but a streamlined minimalist implementation of EventEmitter. So you access a view rebuild event by doing:
[code]
Hope this helps!

[2015-03-20 22:54] ArnoBuschmann commented on #109
@techfort Yup, thx! *heads off to play with it* :)

[2015-03-20 22:55] techfort commented on #109
good luck! I'm on GMT so i'm off to bed soon, feel free to drop create
issues if you encounter problems.

On Fri, Mar 20, 2015 at 10:54 PM, ArnoBuschmann <notifications@github.com>
wrote:

[2015-03-20 23:36] miketahani commented on #105
Thanks!

[2015-03-20 23:36] #105 closed

[2015-03-21 00:13] ArnoBuschmann opened #112 "Cannot resolve module 'fs'"
Just a hint, I stumbled over:

ERROR in ./~/lokijs/src/lokijs.js
Module not found: Error: Cannot resolve module 'fs' in /node_modules/lokijs/src
 @ ./~/lokijs/src/lokijs.js 179:45-58 723:16-29

Installing fs via
npm install fs
fixes it of course

[2015-03-21 02:28] ArnoBuschmann opened #113 "LokiJS as Node module via Webpack in Browser environment."
When I require LokiJS as Node module on the server (isomorphic app approach) and bundle it via Webpack (http://webpack.github.io/) for the client (browser) then:

- the db gets written correctly on the server
- but on the client it tries also to use 'fs' instead of localStorage

I also tried to generally define for the client:
[code]
But this is not working either.

Any idea how I can fix this?

[2015-03-21 02:47] obeliskos commented on #113
I think the correct option is :

[code]

[2015-03-21 10:36] techfort commented on #112
That's weird, fs is built-in. what OS/node version are you using?

[2015-03-21 12:21] #108 closed

[2015-03-21 12:28] ArnoBuschmann commented on #113
Thanks @obeliskos I tried your suggestion but in the browser is says
"undefined" and points to lines 749 and 750:
[code]
Which makes sense because 'fs' isn't available in the browser?

[2015-03-21 12:38] ArnoBuschmann commented on #112
Ubuntu 14.04 LTS and Node v0.10.25 It's probably the Node version as I just saw 0.12.0 is the current one, that's a bit ahead.

[2015-03-21 12:55] obeliskos commented on #113
A bug must have been introduced which I think I have fixed.  Let me know if you still have issues.

[2015-03-21 13:26] ArnoBuschmann commented on #113
Perfect, works now, thank you!

[2015-03-21 13:27] #113 closed

[2015-03-21 21:04] techfort commented on #112
Hey Arno,
i just installed 0.10.25 using nvm on a Ubuntu 14.04 LTS machine and all works ok - if i run npm test all tests are passed. I actually would stick to 0.10.33-35 because 0.11 and 0.12 use an unsupported version of v8 and performance is slower, so your set up is fine. It's probably down to the way you installed it, maybe you passed some config during the build that did not build/install fs

[2015-03-21 21:21] techfort commented on #106
@jrhicks @assafweinberg while developing Loki is one of my main activity during my "coding spare time", if you want to give a go to developing joins that is ok with me. Not trying to pass the buck here (in fact i think it would be a very interesting piece of development) but you have put already a lot of design work in it so I don't want to deprive you of the pleasure, if that is how you feel abou

[2015-03-21 21:29] jrhicks commented on #106
@techfort I can't stop thinking about dynamic views and applyMap.  If I understand Loki's dynamic maps, do they maintain themselfs effeciently after the original build?

[2015-03-21 21:33] techfort commented on #106
they do. This happens in two stages though: the rebuilding of the index and the data itself. Data can be made available lazily by calling data(), or else you can force the rebuild of the data (manually in several ways) at every change in the index, either way dynamicview updates itself. Look at this for a live example: [plunker](http://plnkr.co/edit/rye2uw1rhncOmNxbMfnh?p=preview)

[2015-03-21 21:38] obeliskos commented on #106
Our current approach is to evaluate documents as they are inserted, updated, and deleted (no evaluation needed).  This places a small load on those ops for the benefit of fast reads.

A more expensive operation is sorting which (our current approach) is to queue up an async sort phase.  If you insert 100 documents which affect the view then, when inserting is completed, you will encounter a sort.

[2015-03-21 21:42] techfort commented on #106
@obeliskos thanks for clarifying!

[2015-03-21 21:45] jrhicks commented on #106
@obeliskos @techfort - So applied finds and wheres happen on each CRUD operation.  And Loki throttles sort operations because its more intensive.  I think I got it.  How does it throttle them?

[2015-03-21 21:51] jrhicks commented on #106
@techfort On that plunker you messaged to me .... each additional name is sorted correctly.  But the original inserts never get sorted.  Is this on purpose?

[2015-03-21 21:56] jrhicks commented on #106
@obeliskos - How does LokiJS maintain the sort?  Is it performed in nLog(n)?

[2015-03-21 22:13] obeliskos commented on #106
Throttling is currently just a flag and async 1 timeout.

The sort is currently using default array.sort() along with a custom comparer function.  The algorithm behind array.sort() differs among javascript vm implementations.  In the future we can always benchmark and pursue specific sorting algorithms.

[2015-03-21 22:19] jrhicks commented on #106
@obeliskos I'm not proposing that it needs to be changed, I just wanted to understand.  I was trying to imagine the algorithm for maintaining sort one CRUD at a time, and for the life of me I can't imagine it.

[2015-03-21 22:22] ArnoBuschmann commented on #112
Hey Joe, thanks for your hints on different Node versions! It's good news all your tests passed :) so I'll close this issue now. Actually I don't really know why fs is missing on my system but it's pretty ok this way, no problem.

I'm already curious on the next LokiJS developments/commits, the "full blown standalone server" sounds interesting :) And you, keep thinking about the React flux store i

[2015-03-21 22:22] #112 closed

[2015-03-21 22:23] jrhicks commented on #106
@obeliskos @techfort I still need to work out my ideas, but LokiJS dynamic views are basically the same exact thing as Flux Stores.  Its way too much to explain in this thread, hopefully I can have blog post soon.

[2015-03-21 22:41] techfort commented on #106
@jrhicks i'm really looking forward to that blog post!

[2015-03-21 22:46] techfort commented on #112
@ArnoBuschmann thanks for the links! Actually I'm pretty ignorant of the whole react business, so those links are going to be precious resources. I'll keep you posted on future developments, for now my eye is on replacing rediswith Loki  in node.js environments, taking over in-browser dbs, replacing sqlite in cordova/phonegap with Loki, and I'm developing a RESTful wrapper for Loki called snaptun

[2015-03-21 22:48] obeliskos commented on #106
Well if you do an update or insert on an object you could binary search to locate its position (if sort field is indexed) and then pay a price for array splice.  My general approach is to assume larger datasets will have more frequent updates and need this performance more that 1 off inserts.

Flux looks pretty cool, I was noticing how a general dispatcher could be created for loki to do generic l

[2015-03-21 22:55] jrhicks commented on #106
@obeliskos great clarity on the 1-offs approach to maintaining sort with binary search indexing and array splices.

The best value of a dispatcher is a "traffic cop"!

Imagine you had many dynamic views that depended on each other, you would get a dependency graph!  The FLUX dispatcher lets all stores respond to any action and wait on each other, but the dispatcher can detect cycles and warn the p

[2015-03-21 23:02] jrhicks commented on #106
@obeliskos So lets say you have a Collection of uses and a Dynamic View on users.  Your ActionCreator may produce the action ({ 'INSERT_OP', 'UserCollection', { username: 'test' }}) and send it to both the collection and dynamic view.  The dispatcher would then help the dynamic view wait on the collection (if thats even needed, not sure).

[2015-03-21 23:05] jrhicks commented on #106
What do Loki users user the most?  ResultSet, DynamicViews or MapReduce ... I know its apple and oranges, but I'm curious about the history of these.

[2015-03-21 23:14] ArnoBuschmann commented on #112
Talking about REST, you will see in the video, that Facebook is going to eliminate REST endpoints with GraphQL. A so called GraphQL-Server is going to serve exactly that JSON structure the app needs. Now there has to be some sort of mapping between server side database models and the exact JSON structure the app wants. They promise, that this mapping process of setting up a GraphQL server and conn

[2015-03-21 23:20] obeliskos commented on #106
Interesting... will require more research.  Dispatcher seems to employ several technologies which could be repurposed/reused such as event emitter and experimental protocols.

Not sure about use, i'd say the easiest way to learn would be collection, resultset, dynamicview, mapreduce but every user has different requirements.

[2015-03-22 03:41] jrhicks commented on #106
@techfort @obeliskos http://jrhicks.github.io/dynamic_loki_views_and_flux_stores/index.html

[2015-03-22 09:04] techfort commented on #112
That is a very interesting concept. I will be watching the video today. In
the meantime i can see graphql is quite a bit away from being released ...
it makes me want to write my own alternative solution to that. I'm a very
impatient type :)

On Sat, Mar 21, 2015 at 11:14 PM, ArnoBuschmann <notifications@github.com>
wrote:

[2015-03-22 09:31] ArnoBuschmann commented on #112
I even had the hope, that something such as graphql complements LokiJS so much, it would trigger you to come up with an own solution ;)

Netflix developed a similiar thing for themselves but it's not open yet either:
"Binding to the Cloud with Falcor Jafar Husain" -> https://www.youtube.com/watch?v=WiO1f6h15c8

[2015-03-22 12:38] obeliskos commented on #106
That's a great article, helps a great deal to figure out how loki might fit into such an architecture.

I'll have to set up a sample project today and see if I can simulate the full cycle / data flows.

Do you see value in incorporating a map phase or function directly into the view pipeline?  We currently have mapReduce utility function on the dynamic view to translate existing 'results'.  If you

[2015-03-22 12:59] techfort commented on #106
@jrhicks that's awesome! Off to study Flux properly.
@obeliskos you inadvertently triggered an idea: if you don't pass anything to data() then you get a plain rebuild of the view. If you pass a string, you get a `Collection.prototype.extract` (basically a flat array of values of the property name passed to the function)  equivalent, and if you pass a function then your providing a logic yourself o

[2015-03-22 13:15] obeliskos commented on #106
@techfort sounds interesting maybe if typeof param is string run extract, if param is array maybe some kind of fieldmap (or extract supporting multiple properties), and if typeof param is function run map on it.

[2015-03-22 13:17] techfort commented on #106
@obeliskos maybe that's a logic better implemented in extract() itself so data() only has to worry about it being a function or not.

[2015-03-22 13:38] obeliskos commented on #106
Indeed however I would need to tell you what subset of docs to extract from for any of the extract functionality.

[2015-03-22 13:41] techfort commented on #106
no prob, we can refactor extract() to be a statically available function
and `Collection.extract()` just a curry on the collection data, while
DynamicView would call a plain extract passing the rebuilt data. Does that
sound good?

On Sun, Mar 22, 2015 at 1:38 PM, obeliskos <notifications@github.com> wrote:

[2015-03-22 14:23] obeliskos commented on #106
Sure.  So I would pass you an array of objects to resolve within the data call or you would overload array such as data().extract()?  First is fine just wondering.

[2015-03-22 14:25] techfort commented on #106
mmm - either really... maybe I would avoid appending yet another call to
data(), and just pass the array.

On Sun, Mar 22, 2015 at 2:23 PM, obeliskos <notifications@github.com> wrote:

[2015-03-22 14:57] obeliskos commented on #106
Great!

[2015-03-22 18:55] jrhicks commented on #106
Glad you guise liked the post :)

[2015-03-22 20:07] ArnoBuschmann opened #115 "DB gets overwritten."
This is embarrassing but seems I'm getting something wrong. Given this code:
[code]
The DB gets persisted as it should in Node as file 'test.json'. Thereafter I manually remove the last 4 entries in the code, so just the first one (stan) stays:
[code]
Now when re-executing the code, I would think, that
[code]
would load the existing file with the stored 5 entries and put stan either as 6th entry (

[2015-03-22 21:10] obeliskos commented on #115
You can try visiting the Wiki page at : https://github.com/techfort/LokiJS/wiki/LokiJS-persistence-and-adapters

What you should probably do is set up an autoload callback such as :
[code]

[2015-03-22 23:55] ArnoBuschmann commented on #115
@obeliskos Thanks for the Wiki page hint. Still having problems though :( When I try your code I get
[code]
It seemed as if the loadHandler would not be executed. So I thought I have to add an adapter declaration for fs. After I tried this:
[code]
I got this error:
[code]
That made me wonder, if  'autoload' is maybe not compatible with the 'fs' adapter? Declaring the adapter was only for testing p

[2015-03-23 00:51] obeliskos commented on #115
not sure why you need to use const but try these options instead :
[code]

[2015-03-23 09:50] techfort commented on #115
@ArnoBuschmann If you are still experiencing problems could you send over your full code so I can try to reproduce it?

[2015-03-23 13:41] assafweinberg commented on #106
@jrhicks - I'm also a big fan of React.  I like the direction of using Loki as a dataStore!

@techfort - In the meantime, I'll go ahead and work on a PR for adding a mapJoin function to resultset.

[2015-03-23 14:02] ArnoBuschmann commented on #115
@obeliskos Thanks for your suggestion. const was just an ES6 thing, tried with var, same result.

Hello Joe, thanks for having a look. This is the current code:

[code]
First of all I'm confused, that I have to add the collection a 2nd time out of the loadHandler. If I don't, 'users is not defined'.

But the thing I wonder about most is, that having all these 6 users in the db file, this should lo

[2015-03-23 14:21] jrhicks commented on #106
@assafweinberg awesome :)

[2015-03-23 14:45] techfort commented on #106
@assafweinberg ditto, awesome!

[2015-03-23 18:23] assafweinberg commented on #106
Getting started by adding mapJoin(joinData, leftkey, rightKey, mapFunction) to resultset.  The joinData can be either an array or a Resultset object.  I have a few tests in place and it seems to work alright.

Pretty straight forward except I had to create an anonymous collection inside the Resultset to house the results of the mapJoin so that the return value continues to be chainable.  Take a lo

[2015-03-23 18:27] jrhicks commented on #106
+1

[2015-03-23 18:47] techfort commented on #106
awesome, all looks great to me!

[2015-03-23 19:06] assafweinberg commented on #106
Excellent!  I think being able to map collections together in the middle of the chain could be really useful. Something to keep in mind is that the returned results are no longer live database objects.  We might consider making them immutable to avoid any confusion.

[2015-03-23 19:16] jrhicks commented on #106
Can immutable be an option?  For example, I’m using some Flux libraries (alt) and they force everything immutable anyway.  It would be nice to not have to worry about immutable on top of immutable.

From: Assaf Weinberg [mailto:notifications@github.com]
Sent: Monday, March 23, 2015 2:06 PM
To: techfort/LokiJS
Cc: Jeff Hicks
Subject: Re: [LokiJS] Joins (#106)

Excellent! I think being able to map c

[2015-03-23 19:20] assafweinberg commented on #106
I'd say if immutable gets in the way at all, we shouldn't do it.  Its just a nice safeguard to keep people from accidentally updating an object and expecting it to save back to the database.

[2015-03-23 20:24] techfort commented on #106
@assafweinberg The PR is merged, I'm off to play with it! Thanks a lot. Will revert with feedback and - all going well - we can start benchmarking and talking other join types.

[2015-03-23 20:25] techfort commented on #115
@ArnoBuschmann a bit up the walls busy with stuff, it may be tomorrow before i manage to take a look at it, hope you can wait till then.

[2015-03-23 21:46] obeliskos commented on #106
nifty!  Great work and +1 loki features!

Shall this be documented or hidden ninja feature?

[2015-03-23 21:48] techfort commented on #106
as soon as this is final it'll make it in the docs with frills bells,
vinterblot and human sacrifice to Odin!

On Mon, Mar 23, 2015 at 9:46 PM, obeliskos <notifications@github.com> wrote:

[2015-03-23 21:55] obeliskos commented on #115
Yea you need to figure out how javascript asynchronous works.  All your code after the loadHandler is global code that won't wait for the db to load before it runs.

This is sample code I don't understand the use case for so I would just say put your last two inserts into the loadhandler after the savedatabase.

I will look into seeing if we can provide a synchronous filesystem adapter to make it

[2015-03-23 22:03] obeliskos commented on #106
Sounds Greaatt!!!!

[2015-03-23 23:09] ArnoBuschmann commented on #115
@techfort wouldn't have been any problem at all :) but phew, yeah @obeliskos, you are right, it was all about async behaviour that tricked me. I had a db.saveDatabase() statement not within the loadHandler, which did the overriding. After eliminating that, everything works as expected.

Thanks for your help! :) Closing this issue now.

[2015-03-23 23:09] #115 closed

[2015-03-24 02:02] assafweinberg commented on #106
Thanks guys.  Test it out, and let me know if I've missed anything big with this pattern.

Stepping back, maybe we make the map function optional on both innerJoin and mapJoin. We can return a RethinkDB style result - i.e - [{left: obj, right:obj}] when no map function is passed in.  This might be useful for people who want live, updatable objects in their results.

Then it might make sense to ren

[2015-03-24 08:40] #107 closed

[2015-03-24 14:44] techfort commented on #9
supported as of #106 . Closing this.

[2015-03-24 14:44] #9 closed

[2015-03-24 14:59] techfort commented on #29
Many features related to this were implemented (sync calls, mongo compatibility etc.). Closing this, if there are specific issues not addressed in this discussion please feel free to open new issues!

[2015-03-24 14:59] #29 closed

[2015-03-24 15:14] jrhicks commented on #109
@techfort I'm definately still working on trying to figure out how to fit LokiJS into flux.   Admittedly, I'm all over the place on my ideas.  I've implimented it a few different ways, if this latest way works out well ... I'm going to share it.

[2015-03-24 15:17] techfort commented on #12
Closing this as isomorphism has taken a whole new level of importance. I'm not discarding the use of workers in the future, especially if something like that becomes available on node.

[2015-03-24 15:17] #12 closed

[2015-03-24 15:17] jrhicks commented on #109
@techfort tha latest incarnation looks like this <img src="http://content.screencast.com/users/jrhickscteh/folders/Jing/media/11cf0bdf-09c0-4fb1-bb62-16b62d168390/2015-03-23_1321.png">

The LokiDB lives inside a flux store, and replicate is best described as a "worker" that creates actions in the background.

[2015-03-24 15:19] techfort commented on #109
That's awesome. I'm getting more and more into Flux, I have quite a few off
the walls ideas for Loki in this respect but I'm going to hold back till i
have gathered an intimate knowledge of the architecture. Meanwhile, thanks
a lot for your efforts!

On Tue, Mar 24, 2015 at 3:14 PM, Jeffrey Hicks <notifications@github.com>
wrote:

[2015-03-24 15:23] techfort commented on #109
@jrhicks that's great, you materialized where my mind was going. The Store would provided the equivalent of an interface to Loki, possibly with that architecture you may be able to satisfy immutability too - am I wrong?

[2015-03-24 15:26] jrhicks commented on #109
@techfort - Yes, the convention is for stores to wrap their returned data in immutability.  So if you constrained the components access to db throught the store ... then your good.

[2015-03-24 16:02] techfort commented on #109
@jrhicks well then it seems to me like we're flying!

[2015-03-24 16:07] jrhicks commented on #109
@techfort - I may not actually undertand this part of flux well enough though.  I need to study more.

[2015-03-24 19:48] jrhicks opened #119 "Bulk Inserts and Collection Constraints"
I don't think I'm using indexes correclty.

When merging 10,000+ records from a remote database into a local database, I have to use the id (not the $loki id) to make sure the document is not already there.  (if its there I want to merge instead of update).  To do this effeciently, I'm trying to use Loki indices:

[code]

Then on each insert I do

[code]
When I **disable** the localRecord check an

[2015-03-24 20:47] obeliskos commented on #119
Interesting... what you are describing is not so much an index but a constraint.

Yea the problem being that on every insert you are invalidating the index and it needs to be rebuilt for the findOne.

Maybe @seriousme (who is exploring similar value hash lookups) can look into a unique constraint functionality using an approach similar to what you described.  This might be something you can define

[2015-03-24 21:02] techfort commented on #119
@jrhicks @obeliskos @seriousme this is a discussion we have been having through email and it's good to see that real-life scenarios are highlighting the necessity for optimization in the indexing system.
In the case of @jrhicks 's app, a unique index is ideal. As pointed out by @seriousme , even on sorted data, hashmap lookups will always be faster than binary search.
From this I draw two conclusi

[2015-03-24 21:42] obeliskos commented on #119
Sounds good. Do we also keep $loki id or do we trust user would not have changed the constrained property?

[2015-03-24 21:48] techfort commented on #119
i'd say we keep it. get(int) will work with $loki, and we could extend get to work like get(var, indexName) => gets a record by index name. Opinions?

[2015-03-24 21:52] obeliskos commented on #119
Sounds good to me!

[2015-03-24 22:09] jrhicks commented on #119
@techfort You rock! I was able to ditch my hack index, and just check-before-insert a little differently with much better results http://screencast.com/t/JLOAJLPTfj

Basically the only delay is the data fetching/paging!

So given a batch of 1000 data.  I first find all the ones that are already in my db

[code]

Then, when I loop over the inserts I just check the disposable localRecords.

[code]

[2015-03-24 22:26] techfort commented on #119
@jrhicks woah that's fast :) so how do we go about making this a LokiJS facility for everybody?

[2015-03-24 22:36] jrhicks commented on #119
@techfort I think your on to something with constraints!

In lieu of constraints, maybe a bulkInsert function that returns the records that failed the constraint???

[code]

[2015-03-24 23:14] jrhicks commented on #119
@techfort - I think your correct.  The best thing would be to be able to create a constraint, but also have a bulk insert routine that respected the constraint.  I guess its getting kinda late there - no reply necessary.

[2015-03-25 06:24] techfort commented on #119
@jrhicks this sounds good to me. @obeliskos you good with that?

[2015-03-25 08:17] KimSchneider commented on #80
Meta, or any other additions that loki does, should reside under the $loki property. Would be cool for the next version.
{
 $loki : { id : 1, meta : {  } },
 name : 'Hugo',
 meta : 'He is awesome'
}

[2015-03-25 09:44] PseudoCorps opened #121 "Git-js Store"
Enable Git style versioning to reduce network overhead on update 'pull'.

This applies to use cases that may need to receive updates over the network. Loki has the ability to track and apply changes, which pretty much solves the 'push' aspect. However, to create the changes there is currently the necessity of a direct local comparison. This means at some point the client side has to either dump th

[2015-03-25 09:51] techfort commented on #121
Well this is incredible timing as I was just reading a mail about this. This interests me a lot, obviously it requires a very careful design, but yes, i'm thinking of pushing this to top priority.

[2015-03-25 10:29] obeliskos commented on #119
Sounds good

[2015-03-25 11:19] PseudoCorps commented on #121
Awesome
I agree, it seems like there would likely be some design decisions that could:
broaden the scope of the Changes API,
be implemented on the adapter side,
or potentially both?

The native indexedDB support for version tracking seems limited to unimplemented.
So I do see that as an indicator it would be useful to set up a minimal structure internally.
What are your thoughts / preferences abou

[2015-03-25 14:39] techfort commented on #121
I am trying to figure out the best way to do this. Loki has no hard
dependencies, only dev ones, so i'd like to keep it that way
I like the idea of something that is git-friendly in terms of api, e.g.
using commit() to "freeze" a set of changes and a push() to sync to the
server. So far i see things happening on the Changes API side, but this may
change.
Meanwhile - although this is nothing as pow

[2015-03-25 14:48] jrhicks commented on #119
@techfort I'm timid to update core code.  Maybe after I've been using the product longer.  I do feel interested in helping to contribute to documentation though.  As time permits, I can start a conversation about that in a diferent thread.

[2015-03-25 14:50] techfort commented on #119
@jrhicks no problem, I'll take a look at your implementation on the github project you referenced in the post and credit you in logs/commits/etc. This all looks great, the post /video is impressive!

[2015-03-25 15:11] seriousme commented on #119
As already discussed by mail there are various options to deal with indices.  (e.g. exact unique, exact non-unique, ordered (which is the current default) etc).

As shown by the initial posting its rather surprising to users that the first query after insert/update takes so long.  So I'd try to fix that as well by doing binary index updates instead of full index rebuild. The only place to do full

[2015-03-25 16:02] jrhicks commented on #119
I agree with @seriousme, define the constraint upfront and do not offer the option on the bulkInsert.  I think we all agree on this. @techfort

[2015-03-25 16:15] jrhicks commented on #119
To be most backwards compatible, I think the default

* insert

* save

Should throw and error if a constrain was violated.  So we may need a pattern to have methods that return errors as apposed to throwing an error.  Ruby uses an exclamation point to distinguish between the two.  Maybe the soft (return errors on failure).  Might be???

* tryInsert

* trySave

That doesn't.  This communicates cle

[2015-03-25 18:36] techfort commented on #119
Yes, upfront index declaration is my preferred way too. Also the addition of a property in the options property is the most backward compatible.
As for errors, I'm all for returning results, let's not forget that Collection emits 'error' events, that's also an option to manage errors.

@seriousme @obeliskos @jrhicks index update (as @seriousme points out) is the way to go on binary indexes. Funnil

[2015-03-25 20:09] techfort commented on #119
this is good. Strange though, this message didn't turn up on github..

On Wed, Mar 25, 2015 at 4:15 PM, Jeffrey Hicks <notifications@github.com>
wrote:

[2015-03-25 21:33] obeliskos commented on #121
Sounds interesting... not sure if it would be a primary sync method but I would need to know more.  To be honest I have not needed to look into the current change api implementation.

Would you decompose the db into many files?
What advantages would this have over other cloud storage? (A diff on the whole database might not tell me a lot).

I have thought about extending the persistenceAdapter int

[2015-03-25 21:54] obeliskos commented on #119
great post @seriousme... i think you have great understanding of what can be done with this.

Yes @techfort's function sounds like it should do the trick.  The 'unique' part of this should make it simpler (single position).

I'm sure as this is being implemented we will be able to tell if providing a batch method could offer performance boost.

[2015-03-26 19:40] seriousme commented on #121
Just tossing in my 2cts :-)

JsGit is no small module.

Using the changes api you would be able to just push the changed records from client to server.
The server can diff and send update objects back as Loki updates.(gzip will reduce the size of the updates considerably)
If you add a version indicator in the record itself  it would be fairly easy to identify update conflicts.

Alternatively the m

[2015-03-26 19:51] seriousme commented on #16
This might help ;-)
http://swarmjs.github.io/articles/lamport/

[2015-03-26 21:30] techfort commented on #16
Been discussing peer-device syncrhonization for a truly distributed db, this would come in really handy.

[2015-03-26 22:36] techfort commented on #121
I agree with @obeliskos  on a persistence-adapter based implementation so - as @seriousme pointed out - we could use jsGit. This persistence adapter could be packaged as a separate lib so Loki remains without dependencies.
Having said that, i think the need of a standard LokiJS backend is gradually increasing. The meta.rev property was meant to resolve or at the very least help resolve this proble

[2015-03-27 01:12] RnbWd commented on #16
He introduced me to the concept - it turns out some well known libraries already use these under the hood (maybe not in JS though). I've discovered a few libs that implement vector clocks / lamport signatures  in JS -

https://github.com/dominictarr/lamport

https://github.com/mixu/vectorclock

https://github.com/AWinterman/vector-clock

Substack / Macintosh have also been prolific recently

https

[2015-03-27 02:04] PseudoCorps commented on #121
Sorry for the delayed response, I was slowly writing up something more descriptive.

I used the git example because I thought it expressed the type of functionality I was looking for in a clear way. It also offers possible solutions to other milestones.  I didn't mean to imply that it would be a dependency.(just realized #70 had closed, and I thought I read somewhere that there was interest in rep

[2015-03-27 02:40] PseudoCorps commented on #121
In response to the question @obeliskos  asked "Would you decompose the db into many files?"
The structure that they use essentially mirrors git, so they have a tree that corresponds to a repo, and the files, data, etc are stored as nodes and edges. I found an example interface to indexeddb: https://github.com/aaronpowell/git-indexeddb/blob/master/indexeddb.js
They use hashStore to store path refs

[2015-03-27 07:15] seriousme commented on #121
Hm,

Imho all doable, but it would IMHO not be Loki anymore.
Like I mentioned in a mail to @techfort  and @obeliskos about a week ago: if I wanted to do a really high perf datastore then I would build it myself and skip all the abstraction layers.

Same argument imho holds for features like git-backends, datastores-outside-this etc.

Trying to stuff it all in the current LokiJS feels like a strech

[2015-03-27 10:07] techfort commented on #121
@seriousme : the usual couple of hundred dollars worth of 2c :)

I think - and I know @seriousme has already expressed this position and @obeliskos will most likely agree - that Loki should be a minimalist, fast, user-friendly core library that allows you to do a lot by bringing in a relatively small file into your project.

I nearly feel all adapters should be moved over to a LokiAdapters reposit

[2015-03-27 12:41] seriousme commented on #121
Btw: if Loki goes down the "composable" db path then it  might be convenient to use something like http://browserify.org/ which would make it possible to generate a build for the browser while still using "require" in the modules.

[2015-03-27 12:53] ArnoBuschmann commented on #121
Aside of Browserify one might also consider Webpack http://webpack.github.io/

[2015-03-27 13:50] techfort commented on #121
@seriousme sometimes i think you bugged my brain with some arduino-based mind-reader thingy. @ArnoBuschmann i was not aware of webpack, looks cool, thanks for sharing!

[2015-03-27 15:13] ArnoBuschmann commented on #121
@techfort Webpack is widespread in the Reactjs community, probably because @petehunt never stopped to point out, how good it is, haha. Oh wait, he even wrote a Webpack howto? https://github.com/petehunt/webpack-howto ;)

[2015-03-27 20:17] seriousme commented on #121
@techfort : the cryptedFile adapter had a virtual arduino-based mind-reader hidden in there. Next patch will upgrade it from reader to writer ;-)

More seriously then:

I polished the index demo from last week a bit:   http://jsfiddle.net/jklu/46kk842d/2/
Now we got proper classes and clean separation between the index and the datastore.

It does not matter what kind of datastore you have as long

[2015-03-27 21:00] kristdev opened #124 "insert problem"
Hello, i'm tryng to use loki and i'm new.
The problem I have is, after the insert  and page reloading, my collection is empty. How do I correct this? thank you

[2015-03-27 21:08] techfort commented on #121
@seriousme Superb! Glad to see some of the key-value store code put to good use (it's like a zombie in loki at the moment :) ) . Really good base for v2.0. I really like the abstraction of the index concept that you implemented, it means users may develop indexes with the most varied algorithms and get them to work, that's right down awesome.

@obeliskos @PseudoCorps @seriousme I think we're depar

[2015-03-27 21:15] techfort commented on #124
Hi Franck, could you create a jsfiddle / plunker so that i can analyze the code? At first glance it looked like you're not specifying the use of IndexedDB adapter and/or not saving the database by calling saveDatabase().

[2015-03-27 21:41] kristdev commented on #124
(function(){
    // Déclaration de la base de données
    db= new loki('localdb.json');

    // Déclaration de quelques collections
    // ------ Utilisateurs --------
    users=db.addCollection('users');

    //Insertion des données statiques dans la collection users
    users.insert([
        {
            name: "Pambe Aba Franck Serge",
            tel: "237 6 99 92 57 40",
            adresse:

[2015-03-27 21:44] kristdev commented on #124
my problem is, after the first page loading, i comment query insert and my collection is empty.
Another problem is, i don't know how to stringify collections result

[2015-03-27 21:48] obeliskos commented on #124
Easiest way is to use local storage which is default for browser and is synchronous.

Just do a db.saveDatabase() and use db.loadDatabase() at the beginning.

[2015-03-27 22:37] seriousme commented on #121
My suggestion would be, like with the persistence adapters, to use the same interface for both internal and external change handling. That would nicely lineup for the 2.0 composable db ;-)

[2015-03-28 00:15] PseudoCorps commented on #121
@techfort that sounds great, I was sort of worried we weren't going to come back to it. I was actually pretty surprised when I saw that the changes are flushed. The entire structure is there, so it seems doable only changing a few lines.

@seriousme, not sure what you mean by "interface for both internal and external change handling"

[2015-03-28 06:42] techfort commented on #121
@PseudoCorps great we will go ahead with that. As for what @seriousme meant - i'm assuming by interface we're talking about the same concept that Java/C# adopt for an interface: the definition of a contract with an object (meaning the mandatory presence of certain methods with a certain signature) but  not the underlying implementation (which can change from class to class) leading do different be

[2015-03-28 08:30] seriousme commented on #121
@techfort it looks like the patch for the virtual arduino worked. We are nearly in sync. Needs one more adjustment so you *know*  instead of *think* what I meant.

More seriously then: This is exactly what I meant. With the storage adapters there used to be a difference in handling internal and external storage adapters. The externals having an specified interface contract and the internals just b

[2015-03-28 10:28] kristdev commented on #124
Hey i got an error:

      Error: persistenceAdapter not configured                                lokijs.js:810:13

[2015-03-28 10:30] kristdev commented on #124
this is my new code:

	<script>
	(function(){
		// Déclaration de la base de données
		db= new loki('localdb.json');

		db.loadDatabase();

		// Déclaration de quelques collections
		// ------ Utilisateurs --------
		users=db.addCollection('users');

		//Insertion des données statiques dans la collection users
		users.insert([
			{
				name: "Pambe Aba Franck Serge",
				tel: "237 6 99 92 57 40",

[2015-03-28 11:37] obeliskos commented on #124
My guess is you are running off local filesystem, as I was trying to reproduce this.  Loki was detecting that as cordova environment which had no default adapter defined.

I fixed this issue in the lastest commit, you can either download or make the simple change to your copy.

You will probably want to put your addCollection and collection inserts into a helper function and only run them if there

[2015-03-28 11:59] obeliskos commented on #121
Transactions need a re-think anyways to more properly define a transaction context across multiple operations.  My original thought was to just lift control to user and have them initiate and commit.

Could we force user to define 'change transaction' context beginnings and commits and rollbacks.

[2015-03-28 12:18] seriousme commented on #121
Well SQL type databases like SQL lite let the user initiate a "begin transaction"
(e.g. see https://www.sqlite.org/lang_transaction.html)
And as you say, its typically across multiple operations. (see http://en.wikipedia.org/wiki/Database_transaction)

NoSQL databases don't do SQL (hence the name ;-)) and therefore also typically don't do ACID transactions as ACID transactions in distributed syste

[2015-03-28 12:27] obeliskos commented on #121
TLDR :)

Please describe what you suggest rather than redirect an explanation.  Or don't :)

[2015-03-28 12:38] seriousme commented on #121
Sorry for trying to educate people on the subject ;-)
My suggestion (given @techfort 's aspirations to have Loki become a distributed database)  is to stay away from transactions or anything SQL like (joins ?)  as it could bite you in the back later on.

[2015-03-28 12:50] obeliskos commented on #121
Ah, well changes api is great but I'm not sure we need to compete with pouchdb as 'the distributed nosql database'.  Loki is great swiss army knife and to commit too deeply with other niche products diminishes loki's appeal IMO.

Yea I get too much education already without arcane relational db architecture diagrams ;)  Thanks though.  Don't take my approach to personally, techfort is also a fan o

[2015-03-28 14:30] PseudoCorps commented on #121
Sorry, there's a lot going on here.
So the persisting changes on another collections is okay right? I dont think that will be a push toward a distributed architecture, but rather a simple modification that enables a lot of functionality.

[2015-03-28 14:49] techfort opened #125 "External Changes to allow commit()"
If changes are stored externally then they can be safely isolated into a separate collection which can then be merged back into the collection through a commit() operation.

[2015-03-28 14:49] techfort commented on #121
@PseudoCorps yes , that's exactly right. It's a small enough change that opens up a few options so i'm all for that. I created an [issue](https://github.com/techfort/LokiJS/issues/125) specifically for that, and close this one which has gone well OT :) Having said that it requires a bit of design because the current changes API doesn't allow to reference a particular collection.
@obeliskos @seriou

[2015-03-28 14:49] #121 closed

[2015-03-31 07:20] kristdev commented on #124
hello

[2015-03-31 07:20] #124 closed

[2015-03-31 07:30] kristdev opened #126 "insert persistance"
Hello, i recently post an issue about insert problem, but i have not been satisfied.
Now, i've create a plunkr copy of my project, [http://embed.plnkr.co/tLm5s0WI884T7Yn3krur/](http://embed.plnkr.co/tLm5s0WI884T7Yn3krur/ "plunkr")

My problem is the data doest not persist in the database.
How do i fix the problem?
I would like to run the project in node webkit or in the browser.
Thanks!

[2015-03-31 10:10] techfort commented on #126
Hi Franck,

I edited your plunkr: http://embed.plnkr.co/4RalPOAeZA1xYyT3gpeB/preview
I think you were overcomplicating your life by supplying autoload and autosave and then calling load and save.
Either approach is good but not both :)
Let me know if this solves your problem.

[2015-03-31 10:33] kristdev commented on #126
Thanks, solved

[2015-03-31 10:33] #126 closed

[2015-03-31 21:26] alexmipego commented on #2
This would be very useful. I currently have a service that I use to sync data with my current phonegap db solution. One of the design choices was to implement transactions so that the "sync server" doesn't need to worry about conflicts among other useful bits. I'm looking into lokijs and would love to see this.

[2015-03-31 21:47] techfort commented on #2
Hi Alex, transactions are actually partially implemented, although they are under revision, in that the whole dataset is cached and restored in case of errors during the operation. Having said that, Loki records also contain a meta object which contains a *created* timestamp, a last update timestamp and a revision number (the number of times the object has been changed) so you can apply a last-wri

[2015-04-01 09:42] arqex commented on #109
Hi guys,

Freezer author here, you are having a really interesting conversation :)

Using a replica of the server db in your app can transform how flux applications store work, but it is tricky to make it work with immutable structures.

If you listen to the view 'rebuild' method I suppose you are thinking to reset your store with the updated data. That would make a completely new immutable store,

[2015-04-01 12:47] techfort commented on #109
@arqex cool lib Freezer - got my star some time ago :) I think the last part of your post makes perfect sense. I'm not an expert in the Flux architecture so I may be a bit inaccurate here, but if I understand the use case correctly (and especially following the model illustrated by @jrhicks ) then Loki would sit "inside" the store (so basically Freezer would provide exposure to LokiJS data). Looki

[2015-04-01 16:32] arqex commented on #109
Interesting thoughts! Well, after thinking a bit I wouldnt include Loki's view inside a freezer store.

First, deep comparision is too expensive when talking about performance, and second and more important, It is not needed because in my opinion a Loki's view is already can act like an immutable store without the help of an external library. You need to use Loki's methods to access and update its

[2015-04-01 17:40] ArnoBuschmann commented on #109
A current problem of realizing some sort of "advanced" isomorphism is to have the same state available both, on client and server side. Right now most solutions are like providing just an "initial state" server side to render the first page and then handing over to the client to process the ongoing state.

Now the guys from Netflix described a use case, where they need the ongoing state on the ser

[2015-04-01 19:02] techfort commented on #109
@arqex good points about performance of deep-equal scans, however I wonder if loki's meta object wouldn't come to the rescue here? each record has a `meta { created, updated, revision }` which means you'd only need to check if the two `revision` attributes are equal to establish that they still are. Surely that would save a lot of time? Plus you won't always be so unlucky that the last record in t

[2015-04-02 08:22] techfort opened #128 "find() to return only certain fields"
Support mongo-style field filtering, instead of returning the entire object.
Ideally this happens within the find method, so to avoid adding further filtering when returning a ResultSet.

[2015-04-05 13:30] techfort commented on #119
@jrhicks @seriousme @obeliskos I'm going ahead on the development of exact and unique constraints, stay tuned and happy Easter!

[2015-04-05 14:30] jrhicks commented on #119
@techfort Awesome!  Happy Easter :)

[2015-04-06 19:55] robguthrie opened #131 "Combining view.data() with Angular's ng-repeat - behaviour change between 1.1.0 and 1.2.3"
I've just experimented with a version change of Loki within our project and I've noticed a change in behaviour which is a show stopper for us.

With v1.1.0 I was able to build a loki view, add a function to the scope which returns the view's data, and ng-repeat over the function:

Angular controller
[code]

View template
[code]
This works really well with v1.1.0, but if I use v1.2.3 then I get a w

[2015-04-06 20:00] techfort commented on #131
Hi Robert,

I will investigate this asap. I have stumbled upon that problem with angular in a number of situations, the bottom line is that for some reason angular marks a certain property as dirty at each cycle, so it keeps trying to re-render the view, does this for 10 times then throws and error and stops.
It may be a problem with Loki, but there is a chance it's either angular or a slight impl

[2015-04-06 20:01] techfort commented on #119
@jrhicks @seriousme @obeliskos i have completed a very *drafty* implementation of unique indexes, with inserts and removes working as they should. Haven't benchmarked by() operations yet (by(field, value) is the method to obtain a record straight from the unique index rather than go through the query engine).
Before applying a pass in find() to check if the field is a unique index (and therefore r

[2015-04-06 20:07] jrhicks commented on #119
@techfort - I guess you would have to consume more space to map loki's id to unique id to see when the unique id was changed.  Is Loki id assured to be uneditable?  Could unique indexes be set to non-editable?  Maybe these wouldn't be indexes, they would be primary keys?  Just sorta brainstorming here

[2015-04-06 20:08] robguthrie commented on #131
Thanks for the quick response. I'll try to put together a plunkr now.

[2015-04-06 20:21] robguthrie commented on #131
Are there public copies of loki 1.1 and 1.2.3 that I can reference? Having trouble finding some.

[2015-04-06 20:51] robguthrie commented on #131
I'm having trouble reproducing it in a plunkr, sorry. I'll keep trying.

In my app, I've just found that the problem only happens when I use applySimpleSort on the view. If I comment out the sorting, then everything works as expected.

[2015-04-06 20:57] seriousme commented on #119
@techfort : although semantically the uniqueness is a constraint, technically its an index in which you try to insert a value, if the insertion fails its a constraint violation.
With regards to update: I would use the old value ( find record by I'd ) to determine what to remove from the index and then proceed in the same way as an add.  I would also abstract the index/constraint into classes so th

[2015-04-06 22:11] obeliskos commented on #119
I look forward to this feature.... thanks!

I will try to look over implementation within a few days but i'm sure you and seriousme can make sure it's done right :)

[2015-04-06 22:18] obeliskos commented on #131
Is this dynamic view persistent?  Yes a good test case would be great.

Recently I modified dynamic views to incorporate an async 'sort phase'.  If you do 100 inserts and then stop processing, our async will kick in an sort.  So this sort is happening whether you retrieve .data() or not.

I can revisit this and possibly change that behavior or add new options to 'opt in' to this behavior if that p

[2015-04-06 23:03] robguthrie commented on #131
Here ya go!

http://plnkr.co/edit/ELTYXy6aknu6RpKGjOBF?p=preview

[2015-04-06 23:52] robguthrie commented on #131
@obeliskos hope that plnkr works for you. I notice that the console errors only happen when there is more than 10 items in the collection

[2015-04-07 00:15] obeliskos commented on #131
I believe I have fixed this error.  This seems to have been a simple bug not requiring the mental gymnastics I thought I was going to have to do so I guess that's good :)

Let me know your results, I have checked in new sources and minified which you will need to download from github.

[2015-04-07 00:49] robguthrie commented on #131
Thanks @obeliskos! That has fixed the issue for me!

Are you going to be cutting a new version I can specify rather than master?

[2015-04-07 00:49] #131 closed

[2015-04-07 01:13] obeliskos commented on #131
Great!

I have occasionally sifted through commit history and download older versions... version labeling 'checkpoints' might make it easier to identify.

I agree it would be nice to have more accessible historical versions.  @techfort has been handling versioning, mostly based on npm releases.  He might be able to recommend a specific versioning strategy.  He is out of timezone for now, but perha

[2015-04-07 09:30] techfort commented on #131
@robguthrie @obeliskos thanks for working this out while I was asleep :) I published an npm 1.2.4 and tagged it as such so it should be available on bower as #1.2.4
Let me know if you have any issues with this. Bear in mind I was halfway through developing a feature, all tests and builds pass but don't go experimenting. Next release will most likely be 1.3.0, once external changes and unique/exact

[2015-04-07 09:53] techfort commented on #119
@seriousme here's the problem I'm facing: cloning an object is - at the moment - an option. So imagine I have a collection with an element `{ username: 'joe', $loki: 1}` then the index would look like `{ 'joe': <a reference to the original object>' }`
This means that if i change username of the object to 'jack' the original object is changed, so now the index looks like `{ 'joe': <an-object-with-u

[2015-04-07 10:14] seriousme commented on #119
@techfort: you might be able tot remove 'Joe' from the index, (idx['Joe'] = undefined) and then add Jack to the idx.

Feel free to take my (and your;-)) idx code and use it as you see fit.

In the current setup you either need to link to the array element (not its position in the array!) or store the records $Loki id.

If the idx points to an id then lookup will be a 2 step:
- get id from idx hash

[2015-04-07 10:29] obeliskos commented on #119
So if our id index looks like { arrayIdx : $loki } and your new idx is on username, you have been adding an index for { 'joe' : obj }.  Seems we need an { $loki : 'joe' } index as well?  Either that or set up meta array (or force cloning).

So 2 index maps per unique constraint, or meta, or cloning? Are those options?

[2015-04-07 10:32] techfort commented on #119
@seriousme yeah funny i had it working like that and then i thought it didn't really boost retrieval that much. So i reverted back to pointing directly to the object from the  key in the index. And yes - i also crashed 100mph face-first into linking to the array position and reverted knowing I was the only one to witness that code, but hey - life is about mistakes as much as it is about success so

[2015-04-07 10:46] obeliskos commented on #119
Just curious, have you tried refactoring idIndex from { id : $loki } to { $loki : object }  (yet?)

I just noticed our benchmarks no longer work under node?  I guess because of the refactoring to html benchmarks?   Should we keep two versions of that source, one for node and one for html.  I can see we will be needing to reference and extend benchmarking soon.

[2015-04-07 12:43] techfort commented on #119
@obeliskos actually no i haven't. I'll create a separate branch for this as it's going to be too dangerous to play around with in master, then try the refactoring you suggested. I'll also look at those benchmarks.

[2015-04-07 14:06] obeliskos commented on #119
Oh.. yea I guess file compatibility issues as well.  I would probably rename benchmark.js to benchmark_html.js and restore old benchmark.js.  I can do that later or let you do it if you prefer differently.

[2015-04-07 14:08] techfort commented on #119
@obeliskos actually Dave if you don't mind doing that i'll stay on indexes so we don't trip each other. Thanks!

[2015-04-07 19:45] robguthrie commented on #131
Thanks again. 1.2.4 seems stable for my needs.

On Tue, 7 Apr 2015 at 21:30 Techfort <notifications@github.com> wrote:

[2015-04-08 20:24] techfort commented on #119
@obeliskos @jrhicks @seriousme i have added a first draft of the unique index abstracted into a class. First tests pass, I am yet to test updates and removes but it works nice for now.

[2015-04-08 21:07] jrhicks commented on #119
Thats awesome @techfort :)  You rock.

[2015-04-08 22:08] obeliskos commented on #119
I'm showing 1M+ ops/sec :)

[2015-04-09 04:40] seriousme commented on #119
I rest my case  ;-)

[2015-04-09 09:44] obeliskos commented on #119
well technically techfort rested this case, you just kind of poked around it :)

[2015-04-09 10:06] techfort commented on #119
actually - could you re-run those benchmarks? i "released the breaks" on
the by() method (as in, i'm not checking for the existence of a particular
unique index, if you try to call a by() on a non-existent index you get an
error)
should be a good bit 10% faster! my dev machine is a pentium, and got by()
running at 500k ops/s but it's a pretty crappy processor. Any decent
processor (like an i7) sho

[2015-04-09 10:27] obeliskos commented on #119
Ok my yoga2pro (i5) gets 1.1M - 1.2M which is great.  Seeing this evolve has been very enlightening of the specifics of javascript indexing.  Good work @techfort (and @seriousme) :)

[2015-04-09 18:33] seriousme opened #136 "development flow"
A few days ago I reworked the task runner to use npm.
(more info see: http://blog.keithcirkel.co.uk/how-to-use-npm-as-a-build-tool/ )

This enables a number of new options, e.g.:
- always run lint (currently jshint) before(or after) testing, this will enforce coding standards, but at the same time will take time and break Travis-CI builds on code which is not passing lint. (the latter might actual

[2015-04-09 19:14] techfort commented on #136
I'm actually ok with breaking travis on lint-errors. If something is really annoying it can always be annotated as a skip (e.g. `/* jshint -W101 */` skips lines that are too long - or whatever, can't remember right now)

I would probably create a "publish" task that lints, minifies the source, runs tests against the minified, bumps the npm version, tags the version on git for bower, pushes to the

[2015-04-10 05:53] techfort commented on #106
@assafweinberg @obeliskos @jrhicks i am very satisfied with the state of joins at the moment. If you are all agreed with @assafweinberg 's suggestion to make the map function optional and rename mapJoin to leftJoin, I will go ahead with it and close this when it's done and thoroughly tested.
Ideally I'd like to publish 1.3 before the end of April, so let me know if this is a good plan for you guys

[2015-04-10 12:58] assafweinberg commented on #106
I believe I already made the map optional in my latest commit and renamed the function eqJoin to mimic the finctionality in rethinkDB. I'm flexible on the name, so whatever you guys think.

On Fri, Apr 10, 2015 at 1:53 AM, Techfort <notifications@github.com>
wrote:

[2015-04-10 13:04] techfort commented on #106
Ha, i didn't even notice that! Great, I'll go ahead with the renaming and
close when the next version is published.
Thanks!

On Fri, Apr 10, 2015 at 1:58 PM, Assaf Weinberg <notifications@github.com>
wrote:

[2015-04-11 05:28] techfort opened #139 "Cannot reinsert removed document"
Because a removed document retains meta and $loki, it cannot be reinserted. During remove() those properties should be removed from the object.

[2015-04-11 06:27] seriousme commented on #136
Landed in PR  https://github.com/techfort/LokiJS/pull/138

[2015-04-11 06:27] #136 closed

[2015-04-13 05:40] PseudoCorps opened #141 "Indexed Expressions"
I think it would be a mind blowing feature to add Indexed expressions to the indexing functionality.

Im not completely sure how it works, but I imagine it just like [Postgres's Implementation](http://www.postgresql.org/docs/9.4/static/indexes-expressional.html).

In psql

[code]

Possibly In JS

[code]

Possibly just a string?

[code]

The way that they implement it makes it so you can index chil

[2015-04-13 05:56] techfort commented on #141
if i got the concept correctly then i believe this is entirely feasible but let me look into this. We are already in the process of working on indexes so your issue is quite well timed.
@PseudoCorps on and i did not forget #125 don't worry :)

[2015-04-14 08:31] Student007 opened #142 "find by nummeric needs string"
Hi Joe,
first let me thank you for creating that awesome in-memory database :-)

I think I found a minor bug about to find entries. You can reproduce it by creating a small db with an index by e.g. coordinates x and y, what are numbers.
[code]
If you try to find it by
[code]
you will get en empty result (without no comment about wrong way to ask for).

If you do right, you will find an entry:
[cod

[2015-04-14 08:46] techfort commented on #142
Thanks Dan for catching this, will look into this asap!

[2015-04-15 21:36] techfort commented on #125
@PseudoCorps I started a draft of this (sorry about taking so long to get started on it but i'm insanely busy)
The API looks something like:
`getStage(stageName)`: creates a "stage" where to insert objects to be manipulated without affecting the data in the collection
`stage(stageName, obj)`: inserts a particular object in the specified stage, creating a copy of it. Note: for now the copied object

[2015-04-23 20:17] techfort commented on #139
This is fixed.

[2015-04-23 20:17] #139 closed

[2015-04-23 20:31] techfort commented on #106
Actually upon exploring rethinkDB (which I wasn't very familiar with) I think it's an amazing product, so in tribute to that I'll leave the name unchanged and close this. Thanks @assafweinberg !

[2015-04-23 20:31] #106 closed

[2015-04-23 20:57] techfort commented on #93
Closing this.

[2015-04-23 20:57] #93 closed

[2015-04-24 12:22] techfort commented on #142
@Student007 talking to @obeliskos i actually found that the problem doesn't reside in the fact that you need to pass a string for a number, but the fact that you're using a slightly wrong syntax in the find (which I had not noticed!): instead of `find({x: 1, y: 1})` you need to do `find({x: 1}, {y:1})` the difference being that you need to pass two distinct object queries, not a single object with

[2015-04-24 12:22] #142 closed

[2015-04-24 21:12] obeliskos commented on #142
Yes I think the insert should read :
[code]
and your find should look like :
[code]

[2015-04-25 19:21] #94 closed

[2015-04-25 19:31] techfort opened #144 "ExactIndex"
an index that stores multiple records matching a particular field value.

[2015-04-25 19:41] techfort commented on #79
@mprokopowicz we're about to release 1.3.0, which include UniqueIndex. A unique index allows faster retrieval, and works as a constraint (you cannot insert an object with the same unique value or update an object to have the same value of another one). Effectively, it makes every field you index as unique as fast as a primary key. This to me resolves this issue (in that you can use your own custom

[2015-04-25 19:41] #79 closed

[2015-04-25 19:55] techfort commented on #80
@KimSchneider  @mprokopowicz sorry for addressing this a bit late but i have been very busy. So here's the thing: as @KimSchneider points out, the whole meta should be under $loki. In fact, the plan for LokiJS v2.0 is to only have the $loki id in the object itself and store meta for the object in a sort of parallel collection, so not to pollute the original object beyond the simple id. However, th

[2015-04-25 19:55] #80 closed

[2015-04-25 20:12] techfort commented on #119
With the development of #144 , UniqueIndex and SortedIndex, this issue seems to have been split and taken care of in different features. Closing this, feel free to re-open or open separate issue to address whatever has not been addressed by the various indexes.

[2015-04-25 20:12] #119 closed

[2015-04-27 15:50] jeffryan opened #145 "db.toJson/.loadJSON and Dates"
Loki's json adapter methods can be handy for exporting and importing data with other systems. However I've noticed that saving the database to JSON and later reloading it results in all Date objects being converted to Strings. This is a common JSON.parse problem as JSON does not support Dates as it does normal primitive types.  The JSON.parse() function does however offer an optional reviver param

[2015-04-27 20:28] techfort commented on #145
that's a very good point Jeff. If I get you correctly then maybe [this](http://lokijs.org/#/docs#load) should help. Basically you can provide an `inflate` helper to loadDatabase that specifies how to translate the raw json object into the record. Let me know if this is not what you're trying to achieve, and we'll define the functionality a bit better.

[2015-04-27 20:53] jeffryan commented on #145
I think that'd be an excellent option @techfort.

Today I am walking behind the loadJSON and doing this sort of thing manually via update. Your proposal would be a good way to do any sort of custom initialization required.

[2015-04-27 21:06] techfort commented on #145
hey @jeffryan - sorry for not explaining this in a better way. You can already provide the inflater helper to specify a behaviour. Quoting from the docs:
[code]

in this example, a `shape` specifies the name of the collection, `proto` is the constructor you want to use, and `inflate` is the custom behaviour to revive objects: `src` is the raw record coming form JSON and `dst` is the way the record

[2015-04-27 21:49] jeffryan commented on #145
Thats awesome. Thanks very much for your reply. I should have recognized that but I guess I'm running a little slow today ;)

Thanks too for sharing all you've done with Lokijs.

Jeff

PS I am looking to do some distributed collection mapping similar to what the meteor folks are doing with mongo/minimongo. It seems your collection listeners would be good hooks into this. I'd couple this with socke

[2015-04-28 05:44] techfort commented on #145
@jeffryan glad to be of help! As for your request, I am not very familiar with meteor or minimongo, but i know that LokiJS has attracted a lot of interest in the area of syncing/replication, hence why we introduced the Changes API a couple of versions ago (btw, that should help you keep things in sync).  While there's definitely developers in the wild doing what you describe unfortunately I couldn

[2015-04-28 10:04] techfort commented on #39
@GKuChan sorry for the long delay on this. The whole testing framework has been moved over to `karma`, which in the end is similar to what you were asking. It may even be that we move over to `mocha` soon, thanks for flagging this a long time ago.

[2015-04-28 10:04] #39 closed

[2015-04-28 10:05] #2 closed

[2015-04-28 10:05] #18 closed

[2015-04-28 10:07] #145 closed

[2015-04-28 10:08] techfort commented on #50
This will be implemented in v2.0, with browserify / ES6 (whichever)

[2015-04-28 10:08] #50 closed

[2015-04-30 02:14] mingfang commented on #79
I found this issue by searching for ```upsert```.
Are there plans to implement upsert?

[2015-04-30 07:06] hutch120 opened #146 "Apply Simple Sort"
Hi Joe,

Love your work... hoping you can help.

I think I'm missing something obvious... I'm simply trying to sort a collection before filtering... that is, I have a bunch of names and I want them sorted before applying a filter so I get the A's first.

I've tried a lot of variations... here is an extract from my code that doesn't work but looks like it should???

[code]

Thanks in advance!

[2015-04-30 12:26] techfort commented on #79
There are, I'll create an issue for it and include it in v1.4

On Thu 30 Apr 2015 03:15 Ming Fang <notifications@github.com> wrote:

[2015-04-30 14:04] obeliskos commented on #146
Your example seems to work for me.  Can you provide a more complete example?  For dynamic views, sorting always occurs after filtering.   For your example it would not make a difference which is done first... only if you wanted to do something like 'grab first 100 docs, then sort'... for that you might just use resultset chaining.

Also your 'where' filter can be easily expressed as a 'find' filte

[2015-05-01 10:23] tcdona opened #147 "how can i use lokijs in electron?"
https://github.com/atom/electron/

the code db.js
[code]
worked by cmd node db.js and by node-webkit[nwjs.io]

but didn't work [electron] neither main.js [main process] or page.js required by main.html [render process]
and i have try require('remote').require('lokijs') from page.js [render process]

[2015-05-01 10:31] techfort commented on #147
I've looked at electron but never used it. If you give me a bit to explore it i may able to get back to you.

[2015-05-01 10:34] tcdona commented on #147
that very nice of you, I am looking forward to it

[2015-05-01 12:43] techfort commented on #147
Hi there,
I took a look at electron. Documentation is pretty vast so I could only skim it.
I am yet to familiarize with the concept of `renderer` which is where all the html action happens (I *think*), in any case i created a gist of a mini-app that loads lokijs correctly: https://gist.github.com/techfort/509b95190b226519c07c

Bear in mind I created a skeleton app as described in the documentation

[2015-05-01 13:05] tcdona commented on #147
you are so nice, and i have seen your code.

i just find why i can't get my data "loki.json".
that's all because the path! "./loki.json" is some where else i run the electron app
[code]
this is all i need .

and thank you very much !

[2015-05-01 13:06] #147 closed

[2015-05-01 13:07] techfort commented on #147
You're welcome!

[2015-05-04 22:14] aesqe opened #148 "npm and bower versions update?"
It seems that both bower and npm version contain lokiIndexedAdapter.js with that onsuccess bug present. I don't know if they pull data directly from the github repo or you need to update them manually, just thought best to let you know.

[2015-05-05 15:51] techfort commented on #148
thanks a lot for flagging this, I am preparing to release 1.3 so this is good to know!

[2015-05-12 07:09] annoyingmouse opened #149 "lokiFSAdaptor"
Not an issue as such so sorry but I was wondering if there was an example anywhere of using loki with window.requestFileSystem/window.webkitRequestFileSystem...? My aim is for my DB to persists in a Cordova app by saving it to the FileSystem... I'm developing on Chrome so I could save it to PERSISTENT storage on the browser as well. I've looked all over and it seems as though I'll need to write my

[2015-05-12 10:19] techfort commented on #149
Hi, sorry for not having something in place already (and I meant to for so long!). Funnily enough i created loki to obviate that problem (persistence in cordova), and then never codified the approach. I have a gist though from that first project, it may be outdated/broken so forgive me, but it may give you some inspiration? The gist is here: https://gist.github.com/techfort/a5f35450fb13c771a506

[2015-05-12 11:17] annoyingmouse commented on #149
Hi @techfort , thanks for getting back to me. I thought that that must be the case. My use case is both Cordova and Chrome so I'm trying to keep the code base the same across platforms so it looks like I need to override the loadDatabase and saveDatabase functions. Cheers,  Dom

[2015-05-19 10:21] annoyingmouse commented on #149
Hi again @techfort, I've been playing and wondered if you could cast your eye over my attempts https://github.com/annoyingmouse/lokiFileSystemAdapter/blob/master/lokiFileSystemAdapter.js.

It works a treat if I hard cose things and include it in the lokijs.js file but I figured it would be better to have it as an external adapter, but I'm running into issues... any idea what I'm doing wrong?

Chee

[2015-05-19 13:39] techfort commented on #149
Hi @annoyingmouse , thanks for the feedback! It's going to be a little while before i can set up a cordova project to play with this, have you any log or error I can look at to try and see what is failing? The adapter itself looks good.

[2015-05-19 13:55] annoyingmouse commented on #149
Hi @techfort, it's not a Cordova specific issue as I'm developing in Chrome as well ;-)

I've been playing in the console and, once I include the file, I run:

    var fsAdapter = FileSystemAdapter({"base_dir":"testing","file_system":gFileSystem})

gFileSystem is a global reference to the DOMFileSystem Object

    var db = new loki("test.db",{"adapter": fsAdapter});
    var users = db.addCollectio

[2015-05-19 14:14] techfort commented on #149
hi @annoyingmouse - sorry I made the assumption about cordova based on your first post :)
Would you be able to create a gist for the code of your app? it seems a reference to your persistence adapter is lost in the process, it could be a bug in the configureOptions method of Loki, or something trivial in your code.

[2015-05-19 16:24] janober commented on #148
Any updates or timeframe on this? Because there is still no 1.3.0 in bower.

[2015-05-19 17:12] techfort commented on #148
@Jan A few days at most, life got in the way of this release which got
delayed a bit

Any updates or timeframe on this? Because there is still no 1.3.0 in bower.

—
Reply to this email directly or view it on GitHub
<https://github.com/techfort/LokiJS/issues/148#issuecomment-103578230>.

[2015-05-19 17:15] janober commented on #148
Great, thanks a lot for the fast answer!

Great product btw.!

[2015-05-19 18:19] annoyingmouse commented on #149
Hey @techfort, not to worry. I'm using both you see.

The gist here (https://gist.github.com/annoyingmouse/d2429cd02e32c3ee27ec) though only includes the Chrome FileSystem API.

I'm displaying the data to ensure that everything is gravy and I think you'll see that it is. It's when I come to saveing the DB though that things go odd. I've also put it up on my Google Drive so you can see the console:

[2015-05-19 20:50] techfort commented on #149
@annoyingmouse ok i will need a little while to look into this, hopefully tomorrow, hope it's not too late.
It does seem like there may be something weird going on in the setting of the adapter, maybe @obeliskos can chime in on this too. I've been stupidly busy with sudden deadlines at work, and the aftermath will go on till thursday...

[2015-05-19 21:27] obeliskos commented on #149
Could it be your instancing of fsAdapter needs 'new' keyword?  Maybe try :

[code]

[2015-05-19 21:37] techfort commented on #149
@obeliskos good catch. Even if that doesn't resolve *the* problem, it may resolve other (unexpected) ones :)

[2015-05-20 04:29] annoyingmouse commented on #149
Morning @techfort and @obeliskos, I've updated the file on the Google drive link and I'm afraid it still has the same error :-(

But colour me daft for not clocking the lack of the "new" keyword, that was a good catch @obeliskos!

[2015-05-20 09:50] annoyingmouse commented on #149
So insonmia has some plusses: https://gist.github.com/db0c4e53b71a5dfe18f2.git

It seems as though passing the DOMFileSystem (fs) to the adaptor wasn't making it too happy as it couldn't serialize it (it goes down-and-down forever)! So If I make the fs a global variable it's much happier... Also, taking away the nice AMD stuff seems to have helped as well - which is a shame :-(

So apart from not

[2015-05-20 09:50] #149 closed

[2015-05-20 10:43] techfort commented on #149
That's great news @annoyingmouse  - well kind of. I will see if i get the time to put together a cordova/phonegap adapter which hopefully should not suffer from the same issues.
I will reference your gist in the 1.3 docs for saving to FS in chrome if that's ok with you.
And thanks a lot for the hard work on this!

[2015-05-20 13:20] davidraviv opened #150 "find and findOne not working as expected"
when constructing a query with multiple conditions it seems that the search ensure at least one of the condition applies instead of ensuring all of the conditions applies.

e.g.:

find( {
   key1: 1,   key2: 2
});

will return the following object:
{
    key:1 , key2:3
}

[2015-05-20 13:22] techfort commented on #150
hi @davidraviv  - this is one aspect that needs to be documented more explicitly, as it has caused some confusion. Can you try the following syntax:
`find({key1: 1}, { key2: 2});`

[2015-05-20 21:35] obeliskos commented on #150
It's actually more verbose than that atm, try :
[code]

[2015-05-21 08:44] techfort commented on #150
thanks @obeliskos - what am i like when i've got a flu...

[2015-05-21 12:37] annoyingmouse commented on #149
Hi @techfort, sorry for the delay in replying. Of course you can reference my gist - and should you want to use [my repo](https://github.com/annoyingmouse/lokiFileSystemAdapter) for your work then please feel free. And thank you very much for your hard work on [LokiJS](https://github.com/techfort/LokiJS), it's brilliant!

[2015-05-21 12:47] techfort commented on #149
@annoyingmouse that's great work and i'll definitely reference it! Glad you like Loki!

[2015-05-22 17:14] tomByrer opened #151 "lowercase filenames names please"
Mixed case filenames can cause issues with `require`, bower, & other AMD/CJS.  Also better Netiquette.
https://groups.google.com/forum/#!topic/ractive-js/lR7_Gz1zwJw
http://unix.stackexchange.com/a/197999

& better to change this early; more pain when needed to change later on.

[2015-05-22 17:15] tomByrer commented on #148
semi-blocking: https://github.com/techfort/LokiJS/issues/151

[2015-05-22 17:17] techfort commented on #151
I suppose you're right. I'll make it a point to change file names before 1.3 and put a disclaimer on the website. Thanks for the feedback!

[2015-05-22 17:49] tomByrer commented on #151
cheers

[2015-05-22 17:56] tomByrer opened #152 "minified files need @copyright & @license"
Several good [reasons](https://github.com/tomByrer/web-engeneering-notes/blob/master/banner-tips.md#mini-banner) why to include in each .js file atleast a project name & license, but my near-immediate is for automated collating (eg on [jsDelivr CDN ](https://github.com/jsdelivr/jsdelivr#load-multiple-files-with-single-http-request)).  Also, one of your files has foreign code, so you need to mentio

[2015-05-22 18:52] techfort commented on #152
Thanks again for flagging this, i should be able to get round to changing filenames tonight, will that enable you to submit the PR afterward?
Also, feel free to drop a mail with general feedback, happiness of developers is a very high priority for me.

[2015-05-23 05:46] techfort commented on #151
This is done, closing.

[2015-05-23 05:46] #151 closed

[2015-05-27 20:12] estvmachine opened #154 "The update doesnt work"
Im trying this.

[code]

The logs thrown differents things, the 'advances.find()'  indicate the document dont updated :(.

[2015-05-27 20:16] techfort commented on #154
Hey there,
LokiJS checks for `$loki` and `meta` properties in an object before updating. Is it possible that in your
```advance_old = advance;``` you're copying over an object which has no `$loki` and `meta` properties?

[2015-05-27 20:34] estvmachine commented on #154
I corrected but there seems odd . I'm making an query from an angular-view to my server nodejs, the server returns an object that the user edit. You are telling me that 'object' never should lose their 'meta' attribute.

I thought each time to do this operation:
[code]
returns the object with the 'meta' inside, so only i need to edit the attribute i want to change, but this doesnt work:

    expor

[2015-05-27 20:36] techfort commented on #154
are you getting an error or does it simply not work as it's supposed?
What's the output of the two log statements?
If you can create a plunkr/fiddle i could take a deeper look at the problem. Cheers

[2015-05-27 20:43] estvmachine commented on #154
I works, but only if i used the same object with 'meta' and '$loki', that seems weird because the object travel from server to client and back again, only the '$loki' looks necessary to find the same document.

[2015-05-27 20:46] techfort commented on #154
You don't have to necessarily use the same object but you need to ensure
that $loki and meta properties are retained. Without those LokiJS will
think that you're trying to update an object that is not in the collection
(and strictly speaking the object coming from server was not in the
collection). Think of $loki as the $id property in mongodb.
Let me know if i can close this.

On Wed, May 27, 201

[2015-05-27 20:57] estvmachine commented on #154
Yes, you can close this issue. Maybe that information its necessary in docs. Thanks for the help.

[2015-05-27 20:57] #154 closed

[2015-05-27 21:00] techfort commented on #154
Noted! Created the issue here: https://github.com/techfort/lokijs.org/issues/3

[2015-05-28 12:47] techfort commented on #146
hey @hutch120 any luck with this? I have a 30 days policy on inactivity for an issue before I close it, so if you need further help let me know.

[2015-05-28 12:49] techfort commented on #62
@vdininski $update operators are not going to be supported in the short term, but we are going to implement a merge method which allows to merge a plain js object into a loki one and update the record in the collection. If you need any further help let me know, meanwhile I'm closing this.

[2015-05-28 12:49] #62 closed

[2015-05-28 12:51] #150 closed

[2015-05-30 14:14] retorquere commented on #142
I would propose to make this very explicit in the documentation. I too was using this approach to finding an object using a multi-property object, and I was getting what I thought were random results back :(

Any particular reason not to support this way of finding objects? It seems so natural.

[2015-05-30 14:34] retorquere commented on #142
Would this work?

    loki.Collection.findObject = function(template) {
      var k, obj1, query;
      query = [];
      for (k in template) {
        if (! template.hasOwnProperty(k)) continue;
        query.push((
          obj1 = {},
          obj1[k] = template[k],
          obj1
        ));
      }
      return this.findOne({
        '$and': query
      });
    }

[2015-05-30 18:55] techfort commented on #142
@retorquere i'm all for a PR if you want to submit one. Your trick is neat, the important thing is to utilize find (which you do!) so to leverage indexes.

[2015-05-30 19:10] retorquere commented on #142
https://github.com/techfort/LokiJS/pull/155

[2015-05-30 19:12] retorquere commented on #142
I take it then this:

    keys.find({citekey: { '$in': citekeys }, libraryID: libraryID}))

is also not OK? Would that then be

    @keys.find({'$and' : [{citekey: { '$in': citekeys }}, {libraryID: libraryID}]})

[2015-05-30 19:15] techfort commented on #142
that's correct.

On Sat, May 30, 2015 at 8:12 PM, retorquere <notifications@github.com>
wrote:

[2015-05-30 19:24] retorquere opened #156 "Lowercase constructor in the browser version?"
The constructor for the in-browser version is `loki` rather than `Loki`. Is this intentional?

[2015-05-30 19:30] retorquere commented on #142
BTW, don't know where else to leave the praise, but LokiJS has provided me with a very clean solution to  safely implement DB caching in my app. I'm seeing 10-20x speedups. Very happy.

[2015-05-30 19:34] techfort commented on #156
yes, as that's how it is documented on the website. Originally Loki was
aimed at node/cordova (even though I kept it browser friendly), under which
constructors are normally lower case (i.e. var loki = require('lokijs')).
It stayed like that since those days (nearly 2 years ago) and it got
documented like that on the site, so I'm inclined to leave it like that.
But yeah - i can see how constructor

[2015-05-30 19:36] techfort commented on #142
Thanks! DB caching has been a very common use case for Loki, and I envisage
doing the same on the server side, with loki providing a nodejs native
alternative to redis, with the added advantage of providing dynamic views
and queries. I have prototypes of a server loki running as a front for
mongo or rethinkdb and it works quite well. Thanks a lot anyway!

On Sat, May 30, 2015 at 8:30 PM, retorquer

[2015-05-30 19:41] retorquere commented on #142
One thing that lok does that I haven't yet seem elsewhere is triggers (`.on`) and the changes list. Makes it super-easy to keep consistency between collections, and I have a background timer that causes the cache to flush ever minute, so it's very save.

[2015-05-30 19:43] techfort commented on #142
have you got a gist for that - sounds interesting!

On Sat, May 30, 2015 at 8:41 PM, retorquere <notifications@github.com>
wrote:

[2015-05-30 20:02] retorquere commented on #156
OK, no issue

[2015-05-30 20:02] #156 closed

[2015-05-30 20:41] retorquere commented on #142
I've put up a gist at https://gist.github.com/anonymous/e62cc4e401921506a6dc, but mind that this is Firefox privileged ("chrome") javascript -- I don't know whether the idle observer is available in regular JS. In any case, settimeout is, and if you want to get really funky, you could just hand off the flush to a web worker, as long as the actual flush is done over web services.

In my case, the f

[2015-06-02 09:39] countermeasure opened #157 "Make simplesort case-insensitive?"
`simplesort` appears to be case-sensitive when sorting strings.

Can I suggest that an appropriate default for `simplesort` would be case-insensitive for strings? I can't speak for anyone else, but when I'm sorting by string, I always need a case-insensitive sort.

It's not a big deal, and I implemented a case-insensitive sort with `sort` without too much trouble, but I just thought I'd mention it

[2015-06-02 09:41] techfort commented on #157
That's a good point, as it is unlikely people will create two fields with the only difference being a letter case. Should be straight forward enough. Might not make into 1.3 which is due this week though. Thanks!

[2015-06-02 09:52] countermeasure commented on #157
No drama.

Thank you for a nice lightweight database. I think it only added 38Kb to my minified browser bundle!

[2015-06-02 09:54] techfort commented on #157
cheers!

[2015-06-02 10:32] countermeasure opened #158 "Add upserts"
Upserts would be nice, and it sounds from #79 like they're on the way.

I'm not good enough with JS to attempt a patch, but I can share a snippet I'm using to do upserts if anyone wants to use it until LokiJS has them baked in.

I can't guarantee how fast or robust it is, but it's working for me.

Note that it requires [lodash](https://lodash.com).

[code]

[2015-06-02 10:58] countermeasure opened #159 "Using $regex in case-insensitive mode"
I'd like to be able to use `$regex` in case-insensitive mode.

I can get it working case-sensitive like so:
[code]

I'd like to be able to use something like the `/.../i` pattern to make it case-insensitive, for example:
[code]

That doesn't seem to work though. Any thoughts on a work-around to get a case-insensitive search/regex?

Cheers!

[2015-06-02 12:30] techfort commented on #158
thanks for this! Upserts are in fact underway for 1.4 - mechanism is very similar to the one you outlined so it should be to your satisfaction.

[2015-06-02 12:33] techfort commented on #159
This doesn't work because the regex is instantiated with the RegExp object syntax, and no options are passed into it.
I agree that case-insensitive should be the default behaviour, so changing this line
`if (operator === '$regex') value = new RegExp(value);`
to
if (operator === '$regex') value = new RegExp(value, 'i');

should do the trick.
Will try to include it in 1.3

[2015-06-03 00:39] countermeasure commented on #159
Actually, after seeing your answer, I realise that I wasn't understanding that LokiJS either wants the regex without quotes, or wants a `RegExp` object. I've just sent a PR for the docs site to clarify this.

I've now got a case insensitive regex working with this snippet so that I don't have to change any LokiJS code:

[code]
Maybe better not to make `$regex` case-insensitive by default so that p

[2015-06-03 00:41] countermeasure commented on #158
Thanks! :+1:

[2015-06-03 05:11] techfort commented on #159
Yep, makes sense. Thanks for PR!

[2015-06-03 05:11] #159 closed

[2015-06-03 05:12] techfort commented on #158
Leaving this open till its implemented. Cheers

[2015-06-04 19:09] estvmachine opened #160 "Multiple params in find doesnt work"
Hi, i have one problem with the **find**, its just works with the first parameter. Im trying this:

[code]

This retrieved all task in day '23', doesnt filter with second parameter.

[2015-06-04 19:22] techfort commented on #160
This has been a recurring issue because the documentation isn't 100% clear on this (this is being corrected). The correct syntax for that is:
`var listTasks = tasks.find({ $and: [ { day:'23'},{ hour: '10' }]});

[2015-06-04 19:39] estvmachine commented on #160
Thanks!, sorry for ask xD

[2015-06-04 19:44] #160 closed

[2015-06-04 19:46] techfort commented on #160
Hey - no problem! Hope loki makes your life easier.

[2015-06-05 18:08] estvmachine commented on #61
If you created the file, give you an alert like

**TypeError: Cannot read property 'length' of undefined'

[2015-06-05 18:34] techfort commented on #61
could you create a gist for it so i understand exactly what you mean? Thank you!

[2015-06-05 19:19] estvmachine commented on #61
Of course. Im ussing NodeJS v0.10:

[code]

If i dont create the 'random.json' i got error because doesn't find the file, but if i a create a random.json like that, i got that alert: **TypeError: Cannot read property 'length' of undefined'**

[code]

[2015-06-05 19:24] techfort commented on #61
Ok - this is still an open issue so i'll make sure it is addressed asap!

On Fri, Jun 5, 2015 at 8:19 PM, stevmachine <notifications@github.com>
wrote:

[2015-06-05 19:37] estvmachine commented on #61
Haha, thanks that would be great

[2015-06-07 10:11] retorquere commented on #158
@techfort this is actually what I wrote the `byExample/findObject` code for (pseudocode, as I spend my time in coffeescript):

    entry = {itemID: 1, exportCharset: 'UTF-8'}
    cached = collection.findObject(entry)
    if (cached) {
        cached.citekey = citekey
        collection.update(cached)
    } else {
        entry.citekey = citekey
        collection.insert(entry)
    }
    return (ca

[2015-06-07 10:26] retorquere opened #161 "Are pre-insert and pre-update allowed to modify the objects?"
I'm using LokiJS as a cache between my code and an sqlite backend. My code works against a framework (Zotero) that allows interchangeable use of lookalike-values in most places -- strings consisting of numbers work where a number is expected, any falsish value will do instead of `null`, etc. Sort of good from a robustness POV ("be liberal in what you accept" and all) but not so good for storing th

[2015-06-07 10:30] retorquere commented on #161
And on that same track, I could use a `pre-find` :)

[2015-06-07 14:54] techfort commented on #161
Hi,
well I never, `update` doesn't return the object. That's wrong, it should. As for all the events supported, see: https://github.com/techfort/LokiJS/blob/master/src/lokijs.js#L2558
pre-insert and pre-update are there, is there something additional to those that you need?
And regarding pre-find, what would you pass to the listener, the query itself?

[2015-06-07 14:57] techfort commented on #158
@retorquere that looks like perfectly sound logic, and the final code will probably be just a port to js of it. Thanks!

[2015-06-07 16:22] retorquere commented on #161
I've found those pre-X events, but I'm wondering whether it is specced
behavior that they're allowed to modify the objects they're passed. As far
as I can tell that's the current behavior, but that could be an accidental
side effect rather than expected behavior, and if it is, it could go away.

Regarding pre-find, I hadn't thought ahead that far. Hmm. Perhaps better to
just create a wrapper funct

[2015-06-07 23:42] retorquere commented on #158
If update will return its subject at some point, it would become even shorter:

    entry = {itemID: 1, exportCharset: 'UTF-8'}
    cached = collection.findObject(entry)
    if (cached) {
        cached.citekey = citekey
        return collection.update(cached)
    } else {
        entry.citekey = citekey
        return collection.insert(entry)
    }

for upsert, you'd probably want to do somethin

[2015-06-08 05:25] techfort commented on #158
thanks a lot for this @retorquere !

[2015-06-09 19:37] retorquere opened #162 "Can a build (as present in the "build" directory) also host the non-minified version?"
Easier for debugging purposes.

How did you get the "Please review the guidelines for contributing to this repository." banner above this BTW?

[2015-06-09 19:41] techfort commented on #162
Sounds good, will try to stick it into 1.3 as it's only a matter of copying the file over to the build dir. As for the banner, i don't see it, but I'm assuming it's the presence of a CONTRIBUTING.md file triggers that?

[2015-06-09 21:27] retorquere commented on #162
Awesome -- that's it.

[2015-06-09 21:55] retorquere opened #163 "Searching for with nulls triggers exception"
Script to reproduce it at https://gist.github.com/950f4445a5ed43819321

[2015-06-09 22:25] retorquere commented on #163
The problem looks to be a little more involved than just search, see https://gist.github.com/a880d1db13687c9d0968. It looks like if you search for any column that has a null or boolean value in *any* of its entries, the query bombs out. The actual search value doesn't seem to have a causal effect.

[2015-06-09 22:42] retorquere commented on #163
Even using the full query syntax `col.findOne( {'$and': [ {citekey: {'$eq': "xsheehan2010heidegger"}}, {libraryID:{'$eq': 3}} ] } );` doesn't help -- it's really triggered by DB values, not query values.

[2015-06-09 22:50] obeliskos commented on #163
Slow down please I realize you are in the middle of a lot of tests but it is difficult to trace through your errors and respond.

When I look at the bash generated output scripts the findOne is missing the $and operator.  Could this be bash related string delineation?

[2015-06-09 22:56] retorquere commented on #163
Ugh, you're right. The error was there, but this test set doesn't trigger it anymore. I'll reinstate the full set -- be back later.

[2015-06-09 23:15] retorquere commented on #163
OK, sorry for the panic -- it really was a panic. The commit you made earlier does fix the problem.

Should it be safe to use https://raw.githubusercontent.com/techfort/LokiJS/master/src/lokijs.js rather than https://raw.githubusercontent.com/techfort/LokiJS/master/build/lokijs.min.js ? I really need to put a fix out for this soon.

[2015-06-09 23:31] obeliskos commented on #163
No problem, glad we finally figured it out.  And yes, your original reporting of this bug helped me to figure out what needed to be fixed.  I'm glad you reported that.

I have regenerated the minified version so should be able to use either. src/lokijs.js or build/lokijs.min.js.

Let me know if you run into any issues with the minified version, techfort or others have modified build scripts.  @Tec

[2015-06-09 23:35] retorquere commented on #163
That's good enough for me -- I've picked up the new minified version, my tests are running now.

[2015-06-09 23:50] obeliskos commented on #163
Great... let me know if you find anything else.

[2015-06-10 05:50] techfort commented on #163
I will be doing a little cleanup and version bump and publish this. I published 1.3.4 last night but it did not contain this fix. I will be publishing for npm and bower today, announcement and docs in the next couple of days (but it will be available on npm and bower from tonight GMT)

[2015-06-10 05:50] #163 closed

[2015-06-10 13:29] MarkAPhillips opened #165 "Update documentation on site for AngularJs integration"
Hi - I recently updated to version 1.3.4 and noticed that the js file name has changed from lokiAngular.js to loki-angular.js - this initially broke my application but easily resolved it my renaming the file.

Please could you update the documentation at http://lokijs.org/#/docs

which currently reads:
[code]

Thanks! :+1:

[2015-06-10 13:32] techfort commented on #165
Will do - currently working on that!

[2015-06-10 22:53] toddpi314 opened #166 "CommonJS (NodeJS) examples of lokiIndexedAdapter references"
Document the general surface api for accessing the lokiIndexed adapter within a node process.
Note: the browser include is clearly communicated

[2015-06-10 22:57] toddpi314 commented on #166
For example, the indexedDbAdapter use-case at https://github.com/techfort/LokiJS/wiki/LokiJS-persistence-and-adapters#full-examples-of-using-loki-indexed-adapter is not possible in the NPM module  as is.

[2015-06-11 00:20] TeamworkGuy2 opened #167 "TypeScript Definition Done!"
Wasn't sure where to post this, it's not an issue, just wanted to let those who use LokiJS know.

For those of you who use or might be interested in TypeScript, there's a newly added TypeScript definition for LokiJS over at the DefinitelyTyped repository: https://github.com/borisyankov/DefinitelyTyped/tree/master/lokijs.

[2015-06-11 06:08] techfort commented on #167
Excellent! Thank you!

[2015-06-11 08:27] techfort commented on #166
Thanks Todd, I'll make sure to correct this asap.

[2015-06-11 10:18] obeliskos commented on #166
indexedDB is not available under node right?  You could use for webkit.  Not sure I understand the question/suggestion.

[2015-06-11 10:46] obeliskos commented on #167
Yea thanks!  I wonder if this could be used in an editor like Visual Studio Code to get intellisense.

[2015-06-11 12:42] techfort commented on #166
@obeliskos the way i interpreted the issue was to specify in the wiki that the adapter is only available in the browser, but now that I re-read... @toddpi314 could you elaborate a little more on this? IndexedDB is only available in the browser, for node.js/commonjs environments you would either use LokiFsAdapter (for which you don't need to do anything but specify the name of the file to save the

[2015-06-11 15:40] toddpi314 commented on #166
Good point @obeliskos. This can be clarified with more context.

There is a fair number of projects using CommonJS in multiple environments.
That is, NPM based require injection of dependencies that can run in Node process (typically for Server and Unit test), then Browersify over into the client world.

A hard reference to the IndexDB adapter is required for browserify to serialize the adapter fo

[2015-06-11 21:20] obeliskos commented on #166
Ah, ok.. thanks for your explanation.  I think I understand your request now (cool project btw).

So do I understand correctly that the only options are either include indexed adapter in main lokijs.js or put indexed adapter in its own npm project for browserify to be happy?

Thanks

[2015-06-12 08:23] DrMabuse23 opened #168 "Demo Still broken"
Hi i try out the demo and its still broken
[code]

[2015-06-12 08:31] techfort commented on #168
will look into it asap, could be with file renaming or something trivial like that. Thanks for reporting it!

[2015-06-12 15:12] megabait1212 opened #170 "How to import data from csv or json?"
Hello,
what is best way to import data? I want to upload data to existing db and automatically create key-values pairs from my json file. Json file contain about 200 objects and each object contain about 30 properties. Is it possible to upload data straight from csv? Thank you

[2015-06-12 15:15] techfort commented on #170
Hi! There's a demo project i've done which loads a csv and queries it. It's here: https://github.com/techfort/csv-loader let me know if it's of any help, it should be simple enough.

[2015-06-13 04:21] hutch120 commented on #146
Sorry for the late response.... I did get it going by using a resultset.

[code]

[2015-06-13 05:35] techfort commented on #146
Cool, thank you for the feedback. I'm closing this, feel free to re-open if you have any more issues.

[2015-06-13 05:35] #146 closed

[2015-06-13 11:12] megabait1212 commented on #170
Thank you for your answer but in my case it's not suitable because it require nodejs. I decide to use library papa parse http://papaparse.com/. Here my piece of code
[code]

[2015-06-13 12:52] techfort commented on #170
cool - thank you. Closing this so.

[2015-06-13 12:52] #170 closed

[2015-06-13 23:19] janober commented on #148
Just checked. Version 1.3.0 is there. So I guess it can be closed.

[2015-06-14 07:41] #148 closed

[2015-06-18 17:34] kberryman opened #172 "ensureUniqueIndex"
I am using ensureUniqueIndex to build an index on my uniqueId's that I have on records.  My issue is that I have records with null ID's.  This is valid behavior with in the system.  Is there a way to get the speed increase of ensureUniqueIndex and using the 'by' function to pull records but still allow multiple records with null if all other id's are unique.

I can make this change to code and sen

[2015-06-18 18:48] techfort commented on #172
Sounds good!
Looking forward to that PR. I will ask you though to create a couple of tests in spec/generic/unique.spec.js to verify existing functionality is intact (travis ci will do that anyway but hey) and the new approach also holds well against tests. Once completed, I will include it in the next release and add proper docs so nobody gets caught by the null behaviour.

[2015-06-19 09:09] 0x8890 opened #173 "Don't expose global for IndexedDB adapter"
https://github.com/techfort/LokiJS/blob/master/src/loki-indexed-adapter.js#L51

Modular approach would be much preferred here.

[2015-06-19 10:04] techfort commented on #173
hey there - thanks for flagging this. Will include it in 1.4.

[2015-06-19 11:02] obeliskos commented on #173
Now that es6 has been released and there is an 'official' (albeit not yet fully supported) way of handling modules, should that be the format to support?

If you have thoughts or pull request feel free to chime in... otherwise I might get philosophical on this one at least while researching es6 changes.

[2015-06-19 11:29] daliwali commented on #173
I think the same thing could be applied for this package in general, use ES6 modules.

for this you could use the default export:

[code]

then a build step would be required. I would recommend browserify + babelify.

[2015-06-22 13:00] alex21 opened #174 "Searching by indexes"
When I'm trying to find documents by indexed field, query returns not all documents, matching search criteria.
After removing indexes, it was fixed. Fortunately, It seems it didn't affect queries performance (in my case).

Example:

Collection:
collection = db.addCollection('name', {indicies: ['left', 'right']}) //Query returns only 1 entry
collection = db.addCollection('name') //Query returns 2 e

[2015-06-22 13:02] techfort commented on #174
so are you saying that when specifying indexes the query results are inaccurate? that would be a major bug. Will investigate asap, thanks for reporting!

[2015-06-22 15:09] obeliskos commented on #174
Think I found the problem, thanks!  I will try to fix tonight and add this as test case.  Our calcseg utility function only seems to work when the target value ('3') is in the middle of total all possible values in the data.  If you added another record with left = 5 (just for diagnostic purposes) it would have worked.  I'll add a check for 'all values are in range' and handle correctly.

[2015-06-22 20:49] alex21 commented on #174
wow, such a quick feedback. thanks guys:)

[2015-06-22 20:54] techfort commented on #174
thank @obeliskos really - i'm submerged in work ATM, he's like a saviour.

On Mon, Jun 22, 2015 at 9:49 PM, Alex <notifications@github.com> wrote:

[2015-06-22 22:45] obeliskos commented on #174
Thank you for finding that, i guess there was a gap in unit test coverage.

The release i just checked in should fix it, and I added units tests and rebuilt the minified version.  You should be able to get it from this github repo if you want to test it.

Let me know if you still have issues

[2015-06-23 03:54] saan1984 opened #175 "LokiJS not able to write the data to the json db file after creating NSIS installer package."
LokiJS works fine and able insert and update json db file.

But when i packaged the entire code using NSIS and ASAR it is not able to write into the db json file.
It is not throwing any error!!!.

when i have done a debug, i saw the data are getting added to collection however it is not persisting it to file!!!

Any help here??

[2015-06-23 05:22] techfort commented on #175
do you mean that it works fine in development, but once you package it with an installer and use the installed app it can't write to file?
could there be some form of permission issue? Loki doesn't catch write file errors so you should definitely see if something goes wrong. I will investigate this asap.

[2015-06-23 07:45] saan1984 commented on #175
@techfort yup.
Let me know if you get any updates.O

[If you need i can share the code]

[2015-06-23 07:53] saan1984 commented on #175
It is able to read the db.json file. But when i am inserting new one and saving it, it is not getting persisted.

[2015-06-24 12:04] techfort commented on #175
@saan1984 are you still stalled on this? I'm going to be pretty busy for the next week so i might not get time to investigate this before then, especially because i'm completely unfamiliar with nsis and asar. Code would be useful though!

[2015-06-24 12:52] saan1984 commented on #175
Hi,

I resolved this issue by providing FullAccess to Using NSIS script.

Thanks
Sandeep

On Wed, Jun 24, 2015 at 5:34 PM, Techfort <notifications@github.com> wrote:

--
Thanks
*Sandeep Kumar Patel*
www.tutorialsavvy.com
________________________

[2015-06-24 12:53] techfort commented on #175
Awesome, so it was a permission issue? Will close this in the mean time. Good luck!

[2015-06-24 12:53] #175 closed

[2015-06-24 14:51] apo-j commented on #168
I found the bug in this line : self.constraints.unique[key].remove(doc); (line 3316) in the function remove.
If i call it like this self.constraints.unique[key].remove(doc.$loki); il works well.
This is something wrong in the KeyMap

[2015-06-24 19:38] techfort commented on #168
@apo-j is the bug related to the broken demo? sounds more like a problem with unique index. If you want to open a separate issue and/or submit a PR go ahead!

[2015-06-25 10:29] apo-j commented on #168
I think it's the same bug.
The problem comes from the construction of the object KeyMap. It has $loki as key and the correspondant object as  value. But when I call collection.remove(obj), inside the .constraints.unique[key].remove(doc), you used this.KeyMap[key], but the value of key here is the object passed through the collection.remove() method instead of the $loki, thus KeyMap return null.

[2015-06-25 10:33] apo-j commented on #168
this is the method
UniqueIndex.prototype.remove = function (key) {
      var obj = this.keyMap[key];
      this.keyMap[key] = undefined;
      this.lokiMap[obj.$loki] = undefined;
    };

[2015-06-25 10:36] techfort commented on #168
Ok thanks @apo-j - i should be able to get on this tonight (GMT)

[2015-06-25 20:08] Whoaa512 opened #177 "Failure to remove with unique index"
Repro: https://github.com/Whoaa512/loki-remove-repro

[2015-06-25 20:17] kberryman commented on #177
@Whoaa512 did you have leads on this issue.  I am seeing the same error arise within the browser when I attempt to removeAllData from a collection with unique indexes.  I didn't realize that it had to do with the unique index though.

[2015-06-25 20:24] Whoaa512 commented on #177
I know the error comes from https://github.com/techfort/LokiJS/blob/master/src/lokijs.js#L3685
Which happens after it tries run: https://github.com/techfort/LokiJS/blob/master/src/lokijs.js#L3135-L3137

[2015-06-26 03:58] kberryman commented on #177
I think I found the bug here.  Give me a little and I will submit a pull request to fix it.